{% extends 'base.html.twig' %}

{% block title %}Club-Liga 2022/23{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Club-Liga 2022/23</h1>
                    <p>Stand 6.5.2023 nach 93 von 153 Spielen</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Platz</th>
                            <th>Spieler</th>
                            <th>Spiele</th>
                            <th>Punkte</th>
                            <th>Frames</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>1</td><td>Markus Kraus</td><td>14</td><td class="font-weight-bold">33</td><td>40:16</td></tr>
<tr><td>2</td><td>Florian Kapfhammer</td><td>11</td><td class="font-weight-bold">31</td><td>40:4</td></tr>
<tr><td>3</td><td>Ciprian Bicu</td><td>12</td><td class="font-weight-bold">30</td><td>37:11</td></tr>
<tr><td>4</td><td>Felix Schweikl</td><td>12</td><td class="font-weight-bold">29</td><td>35:13</td></tr>
<tr><td>5</td><td>Peter Lux</td><td>17</td><td class="font-weight-bold">27</td><td>38:30</td></tr>
<tr><td>6</td><td>Aly Hamdy</td><td>9</td><td class="font-weight-bold">20</td><td>25:11</td></tr>
<tr><td>7</td><td>Richard Blieninger</td><td>11</td><td class="font-weight-bold">15</td><td>24:20</td></tr>
<tr><td>8</td><td>Uli Kapfhammer</td><td>7</td><td class="font-weight-bold">15</td><td>18:10</td></tr>
<tr><td>9</td><td>Alexander Marcinkowski</td><td>13</td><td class="font-weight-bold">14</td><td>22:30</td></tr>
<tr><td>10</td><td>Robert Grundner</td><td>8</td><td class="font-weight-bold">14</td><td>19:13</td></tr>
<tr><td>11</td><td>Rudolf Bittner</td><td>8</td><td class="font-weight-bold">12</td><td>17:15</td></tr>
<tr><td>12</td><td>Thomas Luft</td><td>9</td><td class="font-weight-bold">8</td><td>15:21</td></tr>
<tr><td>13</td><td>Daniel Marcinkowski</td><td>13</td><td class="font-weight-bold">7</td><td>13:39</td></tr>
<tr><td>14</td><td>Heinz Niedermeier</td><td>9</td><td class="font-weight-bold">6</td><td>9:27</td></tr>
<tr><td>15</td><td>Martin Breuer</td><td>5</td><td class="font-weight-bold">4</td><td>6:14</td></tr>
<tr><td>16</td><td>Michail Hradek</td><td>10</td><td class="font-weight-bold">2</td><td>7:33</td></tr>
<tr><td>17</td><td>Alexander Wittmann</td><td>8</td><td class="font-weight-bold">2</td><td>5:27</td></tr>
<tr><td>18</td><td>Cornelia Kapfhammer</td><td>10</td><td class="font-weight-bold">0</td><td>2:38</td></tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Spiele</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                            <th>Ergebnis</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for match in lastMatches %}
                            <tr>
                                <td>x</td>
                                <td>{{ match.user1.shortname }}</td>
                                <td>{{ match.user2.shortname }}</td>
                                <td>{{ match.score1 }} : {{ match.score2 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}