{% extends 'base.html.twig' %}

{% block title %}Club-Liga 2022/23{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Club-Liga 2023/24 - Anmeldungen</h1>
                    <p>
                        Die Club-Liga ist eine vereinsinterne Spielreihe, die allen 
                        Mitgliedern offensteht. Gespielt wird &uuml;ber die ganze
                        Saison von Anfang September bis Ende Juli.
                    </p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Spieler</th>
                            <th>Platzierung 2022/23</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr><td>Florian K.</td><td>1.</td></tr>
                            <tr><td>Felix S.</td><td>1.</td></tr>
                            <tr><td>Markus K.</td><td>3.</td></tr>
                            <tr><td>Aly H.</td><td>6.</td></tr>
                            <tr><td>Richard B.</td><td>8.</td></tr>
                            <tr><td>Alexander M.</td><td>9.</td></tr>
                            <tr><td>Thomas L.</td><td>12.</td></tr>
                            <tr><td>Daniel M.</td><td>14.</td></tr>
                            <tr><td>Cornelia K.</td><td>16.</td></tr>
                        </tbody>
                    </table>
                    <p>Anmeldeschluss 25.8.2023, Beginn: 1.9.2023</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}