{% extends 'base.html.twig' %}

{% block title %}Club-Liga 2025/26{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-lg-6 mt-4">
                    <h2>Spiele Oktober 2025</h3>
                    <table class="table table-striped">
<tr><th colspan="4">Club-Liga 1</th></tr>
<tr><td>1</td><td>Aly Hamdy</td><td>Alex Marcinkowski</td><td>4:0</td></tr>
<tr><td>2</td><td>Ciprian Bicu</td><td>Felix Schweikl</td><td></td></tr>
<tr><td>3</td><td>Florian Kapfhammer</td><td>Markus Kraus</td><td></td></tr>
<tr><td>4</td><td>Peter Lux</td><td>Richard Blieninger</td><td></td></tr>
<tr><td>5</td><td>Felix Breuer</td><td>Martin Becker</td><td>4:0</td></tr>
<tr><th colspan="4">Club-Liga 2</th></tr>
<tr><td>1</td><td>Daniel Marcinkowski</td><td>Martin Breuer</td><td></td></tr>
<tr><td>2</td><td>Cornelia Kapfhammer</td><td>Alex Wittmann</td><td></td></tr>
<tr><td>3</td><td>Amir Ghavami</td><td>David Brotzer</td><td></td></tr>
<tr><td>4</td><td>Dawood Khan Zadran</td><td>Francesco Di Corato</td><td></td></tr>
<tr><td>5</td><td>Marcus Steiner</td><td>Reiko Staudacher</td><td></td></tr>
<tr><td>6</td><td>Uli Kapfhammer</td><td>(spielfrei)</td><td></td></tr>
                    </table>
                </div>

                <div class="col-lg-6 mt-4">
                    <h2>Tabelle</h2>
                    <ul class="list-group list-group-flush list-box">
                        <li class="list-group-item">
                    <h4>Club-Liga 1</h4>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Spieler</th>
                            <th>Spiele</th>
                            <th>Punkte</th>
                            <th>Frames</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>1</td><td>Aly Hamdy</td><td>1</td><td>3</td><td>4:0</td></tr>
<tr><td>2</td><td>Felix Breuer</td><td>1</td><td>3</td><td>4:0</td></tr>
<tr><td>3</td><td>Alex Marcinkowski</td><td>1</td><td>0</td><td>0:4</td></tr>
<tr><td>4</td><td>Martin Becker</td><td>1</td><td>0</td><td>0:4</td></tr>
                        </tbody>
                    </table>
                        </li>

                        <li class="list-group-item">
                    <h4>Club-Liga 2</h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Spieler</th>
                            <th>Spiele</th>
                            <th>Punkte</th>
                            <th>Frames</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>1</td><td>Daniel Marcinkowski</td><td>1</td><td>3</td><td>4:0</td></tr>
<tr><td>2</td><td>Martin Breuer</td><td>1</td><td>0</td><td>0:4</td></tr>
                        </tbody>
                    </table>
                        </li>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Club-Liga 2025/26</h1>
                    <p>
                        Die <strong>Club-Liga</strong> ist ein vereinsinternes Turnier
                        &uuml;ber die gesamte Saison, das allen Mitgliedern des Vereins offensteht. 
                        In der Saison 2025/26 gibt es erstmalig zwei Club-Ligen.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h2>Spielmodus</h2>
                    <p>
                        In der Vorrunde von Oktober 2025 bis Juli 2026 
                        spielt jeder Spieler 1 &quot;Best of 4&quot; Spiel pro Monat.
                        Am Samstag, 25. Juli 2026, findet f&uuml;r die Pl&auml;tze 1 bis 4
                        jeder Serie ein Mini-Finalturnier mit Halbfinale und Finale statt.
                        Die Finalisten der Serie B steigen in der n&auml;chsten Saison
                        in die Serie A auf und ersetzen dort die Spieler auf Platz 9 und 10.
                    </p>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Historische Ergebnisse</h1>
                    <p><a href="clubliga/2025">Clubliga 2024/25</a></p>
                    <p><a href="clubliga/2024">Clubliga 2023/24</a></p>
                    <p><a href="clubliga/2023">Clubliga 2022/23</a></p>
                </div>
            </div>            
        </div>
    </div>
{% endblock %}
