{% extends 'base.html.twig' %}

{% block title %}Club-Liga 2023/24{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Club-Liga 2023/24</h1>
                    <p>Stand 29.1.2024 nach Runde 7</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Platz</th>
                            <th>Spieler</th>
                            <th>Spiele</th>
                            <th>Punkte</th>
                            <th>Frames</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>1</td><td>Felix Schweikl</td><td>4</td><td class="font-weight-bold">12</td><td>15:1</td></tr>
<tr><td>2</td><td>Richard Blieninger</td><td>5</td><td class="font-weight-bold">12</td><td>13:7</td></tr>
<tr><td>3</td><td>Peter Lux</td><td>6</td><td class="font-weight-bold">10</td><td>14:10</td></tr>
<tr><td>4</td><td>Felix Breuer</td><td>3</td><td class="font-weight-bold">9</td><td>11:1</td></tr>
<tr><td>5</td><td>Florian Kapfhammer</td><td>4</td><td class="font-weight-bold">9</td><td>11:5</td></tr>
<tr><td>6</td><td>Markus Kraus</td><td>5</td><td class="font-weight-bold">7</td><td>10:10</td></tr>
<tr><td>7</td><td>Daniel Marcinkowski</td><td>4</td><td class="font-weight-bold">6</td><td>7:9</td></tr>
<tr><td>8</td><td>Alexander Marcinkowski</td><td>5</td><td class="font-weight-bold">4</td><td>5:15</td></tr>
<tr><td>9</td><td>Zhuang Kang</td><td>4</td><td class="font-weight-bold">3</td><td>7:9</td></tr>
<tr><td>10</td><td>Aly Hamdy</td><td>2</td><td class="font-weight-bold">3</td><td>5:3</td></tr>
<tr><td>11</td><td>Philipp Fahrenschon</td><td>1</td><td class="font-weight-bold">3</td><td>4:0</td></tr>
<tr><td>12</td><td>Ciprian Bicu</td><td>3</td><td class="font-weight-bold">1</td><td>4:8</td></tr>
<tr><td>13</td><td>Martin Breuer</td><td>3</td><td class="font-weight-bold">0</td><td>1:11</td></tr>
<tr><td>14</td><td>Cornelia Kapfhammer</td><td>5</td><td class="font-weight-bold">0</td><td>1:19</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <hr/>
                    <h1>N&auml;chste Spiele (27.1. - 18.2.)</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>50</td><td>Ciprian Bicu</td><td>Markus Kraus</td><td></td></tr>
<tr><td>51</td><td>Daniel Marcinkowski</td><td>Martin Breuer</td><td></td></tr>
<tr><td>52</td><td>Florian Kapfhammer</td><td>Richard Blieninger</td><td></td></tr>
<tr><td>53</td><td>Peter Lux</td><td>Zhuang Kang</td><td></td></tr>
<tr><td>54</td><td>Cornelia Kapfhammer</td><td>Alexander Marcinkowski</td><td></td></tr>
<tr><td>55</td><td>Felix Breuer</td><td>Aly Hamdy</td><td></td></tr>
<tr><td>56</td><td>Philipp Fahrenschon</td><td>Felix Schweikl</td><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>            <div class="row">
                <div class="col-md-12 mt-12">
                    <hr/>
                    <h1>Runde 7 (6.1. - 28.1.)</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>43</td><td>Daniel Marcinkowski</td><td>Markus Kraus</td><td></td></tr>
<tr><td>44</td><td>Martin Breuer</td><td>Felix Breuer</td><td></td></tr>
<tr><td>45</td><td>Richard Blieninger</td><td>Zhuang Kang</td><td></td></tr>
<tr><td>46</td><td>Cornelia Kapfhammer</td><td>Aly Hamdy</td><td></td></tr>
<tr><td>47</td><td>Philipp Fahrenschon</td><td>Ciprian Bicu</td><td></td></tr>
<tr><td>48</td><td>Alexander Marcinkowski</td><td>Felix Schweikl</td><td>0:4</td></tr>
<tr><td>49</td><td>Florian Kapfhammer</td><td>Peter Lux</td><td>3:1</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <hr/>
                    <h1>Runde 6 (16.12. - 7.1.)</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>36</td><td>Aly Hamdy</td><td>Daniel Marcinkowski</td><td></td></tr>
<tr><td>37</td><td>Ciprian Bicu</td><td>Florian Kapfhammer</td><td></td></tr>
<tr><td>38</td><td>Felix Schweikl</td><td>Martin Breuer</td><td></td></tr>
<tr><td>39</td><td>Markus Kraus</td><td>Richard Blieninger</td><td>4:0</td></tr>
<tr><td>40</td><td>Felix Breuer</td><td>Philipp Fahrenschon</td><td></td></tr>
<tr><td>41</td><td>Peter Lux</td><td>Cornelia Kapfhammer</td><td>4:0</td></tr>
<tr><td>42</td><td>Zhuang Kang</td><td>Alexander Marcinkowski</td><td>1:3</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <hr/>
                    <h1>Runde 5 (25.11. - 17.12.)</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>29</td><td>Ciprian Bicu</td><td>Richard Blieninger</td><td>-</td></tr>
<tr><td>30</td><td>Daniel Marcinkowski</td><td>Florian Kapfhammer</td><td>-</td></tr>
<tr><td>31</td><td>Felix Schweikl</td><td>Markus Kraus</td><td>-</td>-</tr>
<tr><td>32</td><td>Felix Breuer</td><td>Zhuang Kang</td><td>3:1</td></tr>
<tr><td>33</td><td>Cornelia Kapfhammer</td><td>Philipp Fahrenschon</td><td>-</td></tr>
<tr><td>34</td><td>Alexander Marcinkowski</td><td>Martin Breuer</td><td>-</td></tr>
<tr><td>35</td><td>Peter Lux</td><td>Aly Hamdy</td><td>-</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <hr/>
                    <h1>Runde 4 (4.11. - 26.11.)</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>22</td><td>Daniel Marcinkowski</td><td>Felix Breuer</td><td>0:4</td></tr>
<tr><td>23</td><td>Ciprian Bicu</td><td>Felix Schweikl</td><td>-</td></tr>
<tr><td>24</td><td>Florian Kapfhammer</td><td>Martin Breuer</td><td>-</td></tr>
<tr><td>25</td><td>Markus Kraus</td><td>Peter Lux</td><td>2:2</td></tr>
<tr><td>26</td><td>Richard Blieninger</td><td>Cornelia Kapfhammer</td><td>3:1</td></tr>
<tr><td>27</td><td>Zhuang Kang</td><td>Aly Hamdy</td><td>-</td></tr>
<tr><td>28</td><td>Philipp Fahrenschon</td><td>Alexander Marcinkowski</td><td>-</td></tr>
<tr><td>X</td><td>Alexander Wittmann</td><td>Cornelia Kapfhammer</td><td>2:2</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <hr/>
                    <h1>Runde 3 (14.10.-5.11.)</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                            <th>Ergebnis</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>15</td><td>Felix Schweikl</td><td>Cornelia Kapfhammer</td><td>4:0</td></tr>
<tr><td>16</td><td>Florian Kapfhammer</td><td>Markus Kraus</td><td>4:0</td></tr>
<tr><td>17</td><td>Zhuang Kang</td><td>Philipp Fahrenschon</td><td>-</td></tr>
<tr><td>18</td><td>Aly Hamdy</td><td>Ciprian Bicu</td><td>-</td>-</tr>
<tr><td>19</td><td>Alexander Marcinkowski</td><td>Daniel Marcinkowski</td><td>0:4</td></tr>
<tr><td>20</td><td>Martin Breuer</td><td>Richard Blieninger</td><td>0:4</td></tr>
<tr><td>21</td><td>Peter Lux</td><td>Felix Breuer</td><td>-</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Runde 2 (23.9.-15.10.)</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                            <th>Ergebnis</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>8</td><td>Florian Kapfhammer</td><td>Zhuang Kang</td><td>3:1</td></tr>
<tr><td>9</td><td>Alexander Marcinkowski</td><td>Ciprian Bicu</td><td>2:2</td></tr>
<tr><td>10</td><td>Daniel Marcinkowski</td><td>Felix Schweikl</td><td>0:4</td></tr>
<tr><td>11</td><td>Markus Kraus</td><td>Martin Breuer</td><td>4:0</td></tr>
<tr><td>12</td><td>Peter Lux</td><td>Richard Blieninger</td><td>1:3</td></tr>
<tr><td>13</td><td>Felix Breuer</td><td>Cornelia Kapfhammer</td><td>4:0</td></tr>
<tr><td>14</td><td>Philipp Fahrenschon</td><td>Aly Hamdy</td><td>-</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Runde 1 (2.9.-24.9.)</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                            <th>Ergebnis</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>1</td><td>Markus Kraus</td><td>Philipp Fahrenschon</td><td>0:4</td></tr>
<tr><td>2</td><td>Aly Hamdy</td><td>Alexander Marcinkowski</td><td>4:0</td></tr>
<tr><td>3</td><td>Ciprian Bicu</td><td>Daniel Marcinkowski</td><td>1:3</td></tr>
<tr><td>4</td><td>Felix Schweikl</td><td>Florian Kapfhammer</td><td>3:1</td></tr>
<tr><td>5</td><td>Martin Breuer</td><td>Peter Lux</td><td>1:3</td></tr>
<tr><td>6</td><td>Richard Blieninger</td><td>Felix Breuer</td><td>-</td></tr>
<tr><td>7</td><td>Cornelia Kapfhammer</td><td>Zhuang Kang</td><td>-</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
