{% extends 'base.html.twig' %}

{% block title %}Club-Liga 2024/25{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Club-Liga 2024/25</h1>
                    <p>Anmeldung bis Samstag, 21. September 2024 bei Markus</p>
                    <h2>Was ist die Club-Liga?</h2>
                    <p>
                        Die Club-Liga ist ein vereinsinterner Wettbewerb, der sowohl
                        das Kennenlernen der Mitglieder untereinander und Spielpraxis
                        durch regelm&auml;&szlig;e &quot;Pflichtspiele&quot; f&ouml;rdern soll. 
                    </p>
                    <h2>Wie ist Spielmodus?</h2>
                    <p>
                        Der Spielmodus ist Jeder gegen Jeden. Die Spiele werden verteilt
                        &uuml;ber ein Schuljahr (Herbst bis Sommer) ausgetragen, i.d.R. 
                        etwa 1 Spiel pro Monat. Abh&auml;ngig von der Anzahl und 
                        Spielst&auml;rken der gemeldeten Teilnehmer kann es Sonderregeln geben, 
                        um alle Begegnungen ausgeglichen zu gestalten.
                    </p>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Historische Ergebnisse</h1>
                    <p><a href="clubliga/2024">Clubliga 2023/24</a></p>
                    <p><a href="clubliga/2023">Clubliga 2022/23</a></p>
                </div>
            </div>            
        </div>
    </div>
{% endblock %}
