{% extends 'base.html.twig' %}

{% block title %}Club-Liga 2022/23{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Club-Liga 2022/23</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Platz</th>
                            <th>Spieler</th>
                            <th>Spiele</th>
                            <th>Punkte</th>
                            <th>Frames</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td>1.</td><td>Alexander Marcinkowski</td><td>1</td><td class="font-weight-bold">3</td></td><td>4:0</td></tr>
                        <tr><td>2.</td><td>Aly Hamdy</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>3.</td><td>Markus Kraus</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>4.</td><td>Martin Breuer</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>5.</td><td>Alexander Wittmann</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>6.</td><td>Michael Hradek</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>7.</td><td>Christian Lorenz</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>8.</td><td>Peter Lux</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>9.</td><td>Ciprian Bicu</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>10.</td><td>Richard Blieninger</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>11.</td><td>Rob Swarbrick</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>12.</td><td>Felix Schweikl</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>13.</td><td>Robert Grundner</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>14.</td><td>Florian Kapfhammer</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>15.</td><td>Rudolf Bittner</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>16.</td><td>Klaus Richterich</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>17.</td><td>Thomas Luft</td><td>0</td><td class="font-weight-bold">0</td></td><td>0:0</td></tr>
                        <tr><td>18.</td><td>Daniel Marcinkowski</td><td>1</td><td class="font-weight-bold">0</td></td><td>0:4</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
