{% extends 'base.html.twig' %}

{% block title %}Club-Liga 2023/24{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Club-Liga 2023/24</h1>
                    <p>Stand 1.9.2023 nach 0 von 105 Spielen</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Platz</th>
                            <th>Spieler</th>
                            <th>Spiele</th>
                            <th>Punkte</th>
                            <th>Frames</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr><td>-</td><td>Aly Hamdy</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Markus Kraus</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Peter Lux</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Felix Breuer</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Martin Breuer</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Felix Schweikl</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Florian Kapfhammer</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Cornelia Kapfhammer</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Richard Blieninger</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Zhuang Kang</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Martin Breuer</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Alexander Marcinkowski</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Daniel Marcinkowski</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Alexander Wittmann</td><td>0</td><td>0</td><td>0:0</td></tr>
                            <tr><td>-</td><td>Ciprian Bicu</td><td>0</td><td>0</td><td>0:0</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Spiele</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                            <th>Ergebnis</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>1</td><td>Markus Kraus</td><td>Philipp Fahrenschon</td><td></td></tr>
<tr><td>2</td><td>Aly Hamdy</td><td>Alexander Marcinkowski</td><td></td></tr>
<tr><td>3</td><td>Ciprian Bicu</td><td>Daniel Marcinkowski</td><td></td></tr>
<tr><td>4</td><td>Felix Schweikl</td><td>Florian Kapfhammer</td><td></td></tr>
<tr><td>5</td><td>Martin Breuer</td><td>Peter Lux</td><td></td></tr>
<tr><td>6</td><td>Richard Blieninger</td><td>Felix Breuer</td><td></td></tr>
<tr><td>7</td><td>Cornelia Kapfhammer</td><td>Zhuang Kang</td><td></td></tr>
<tr><td>8</td><td>Florian Kapfhammer</td><td>Zhuang Kang</td><td></td></tr>
<tr><td>9</td><td>Alexander Marcinkowski</td><td>Ciprian Bicu</td><td></td></tr>
<tr><td>10</td><td>Daniel Marcinkowski</td><td>Felix Schweikl</td><td></td></tr>
<tr><td>11</td><td>Markus Kraus</td><td>Martin Breuer</td><td></td></tr>
<tr><td>12</td><td>Peter Lux</td><td>Richard Blieninger</td><td></td></tr>
<tr><td>13</td><td>Felix Breuer</td><td>Cornelia Kapfhammer</td><td></td></tr>
<tr><td>14</td><td>Philipp Fahrenschon</td><td>Aly Hamdy</td><td></td></tr>
<tr><td>15</td><td>Felix Schweikl</td><td>Cornelia Kapfhammer</td><td></td></tr>
<tr><td>16</td><td>Florian Kapfhammer</td><td>Markus Kraus</td><td></td></tr>
<tr><td>17</td><td>Zhuang Kang</td><td>Philipp Fahrenschon</td><td></td></tr>
<tr><td>18</td><td>Aly Hamdy</td><td>Ciprian Bicu</td><td></td></tr>
<tr><td>19</td><td>Alexander Marcinkowski</td><td>Daniel Marcinkowski</td><td></td></tr>
<tr><td>20</td><td>Martin Breuer</td><td>Richard Blieninger</td><td></td></tr>
<tr><td>21</td><td>Peter Lux</td><td>Felix Breuer</td><td></td></tr>
<tr><td>22</td><td>Daniel Marcinkowski</td><td>Felix Breuer</td><td></td></tr>
<tr><td>23</td><td>Ciprian Bicu</td><td>Felix Schweikl</td><td></td></tr>
<tr><td>24</td><td>Florian Kapfhammer</td><td>Martin Breuer</td><td></td></tr>
<tr><td>25</td><td>Markus Kraus</td><td>Peter Lux</td><td></td></tr>
<tr><td>26</td><td>Richard Blieninger</td><td>Cornelia Kapfhammer</td><td></td></tr>
<tr><td>27</td><td>Zhuang Kang</td><td>Aly Hamdy</td><td></td></tr>
<tr><td>28</td><td>Philipp Fahrenschon</td><td>Alexander Marcinkowski</td><td></td></tr>
<tr><td>29</td><td>Ciprian Bicu</td><td>Richard Blieninger</td><td></td></tr>
<tr><td>30</td><td>Daniel Marcinkowski</td><td>Florian Kapfhammer</td><td></td></tr>
<tr><td>31</td><td>Felix Schweikl</td><td>Markus Kraus</td><td></td></tr>
<tr><td>32</td><td>Felix Breuer</td><td>Zhuang Kang</td><td></td></tr>
<tr><td>33</td><td>Cornelia Kapfhammer</td><td>Philipp Fahrenschon</td><td></td></tr>
<tr><td>34</td><td>Alexander Marcinkowski</td><td>Martin Breuer</td><td></td></tr>
<tr><td>35</td><td>Peter Lux</td><td>Aly Hamdy</td><td></td></tr>
<tr><td>36</td><td>Aly Hamdy</td><td>Daniel Marcinkowski</td><td></td></tr>
<tr><td>37</td><td>Ciprian Bicu</td><td>Florian Kapfhammer</td><td></td></tr>
<tr><td>38</td><td>Felix Schweikl</td><td>Martin Breuer</td><td></td></tr>
<tr><td>39</td><td>Markus Kraus</td><td>Richard Blieninger</td><td></td></tr>
<tr><td>40</td><td>Felix Breuer</td><td>Philipp Fahrenschon</td><td></td></tr>
<tr><td>41</td><td>Peter Lux</td><td>Cornelia Kapfhammer</td><td></td></tr>
<tr><td>42</td><td>Zhuang Kang</td><td>Alexander Marcinkowski</td><td></td></tr>
<tr><td>43</td><td>Daniel Marcinkowski</td><td>Markus Kraus</td><td></td></tr>
<tr><td>44</td><td>Martin Breuer</td><td>Felix Breuer</td><td></td></tr>
<tr><td>45</td><td>Richard Blieninger</td><td>Zhuang Kang</td><td></td></tr>
<tr><td>46</td><td>Cornelia Kapfhammer</td><td>Aly Hamdy</td><td></td></tr>
<tr><td>47</td><td>Philipp Fahrenschon</td><td>Ciprian Bicu</td><td></td></tr>
<tr><td>48</td><td>Alexander Marcinkowski</td><td>Felix Schweikl</td><td></td></tr>
<tr><td>49</td><td>Florian Kapfhammer</td><td>Peter Lux</td><td></td></tr>
<tr><td>50</td><td>Ciprian Bicu</td><td>Markus Kraus</td><td></td></tr>
<tr><td>51</td><td>Daniel Marcinkowski</td><td>Martin Breuer</td><td></td></tr>
<tr><td>52</td><td>Florian Kapfhammer</td><td>Richard Blieninger</td><td></td></tr>
<tr><td>53</td><td>Peter Lux</td><td>Zhuang Kang</td><td></td></tr>
<tr><td>54</td><td>Cornelia Kapfhammer</td><td>Alexander Marcinkowski</td><td></td></tr>
<tr><td>55</td><td>Felix Breuer</td><td>Aly Hamdy</td><td></td></tr>
<tr><td>56</td><td>Philipp Fahrenschon</td><td>Felix Schweikl</td><td></td></tr>
<tr><td>57</td><td>Aly Hamdy</td><td>Felix Schweikl</td><td></td></tr>
<tr><td>58</td><td>Markus Kraus</td><td>Felix Breuer</td><td></td></tr>
<tr><td>59</td><td>Martin Breuer</td><td>Cornelia Kapfhammer</td><td></td></tr>
<tr><td>60</td><td>Richard Blieninger</td><td>Philipp Fahrenschon</td><td></td></tr>
<tr><td>61</td><td>Zhuang Kang</td><td>Ciprian Bicu</td><td></td></tr>
<tr><td>62</td><td>Alexander Marcinkowski</td><td>Florian Kapfhammer</td><td></td></tr>
<tr><td>63</td><td>Daniel Marcinkowski</td><td>Peter Lux</td><td></td></tr>
<tr><td>64</td><td>Aly Hamdy</td><td>Florian Kapfhammer</td><td></td></tr>
<tr><td>65</td><td>Ciprian Bicu</td><td>Martin Breuer</td><td></td></tr>
<tr><td>66</td><td>Felix Schweikl</td><td>Richard Blieninger</td><td></td></tr>
<tr><td>67</td><td>Markus Kraus</td><td>Cornelia Kapfhammer</td><td></td></tr>
<tr><td>68</td><td>Felix Breuer</td><td>Alexander Marcinkowski</td><td></td></tr>
<tr><td>69</td><td>Peter Lux</td><td>Philipp Fahrenschon</td><td></td></tr>
<tr><td>70</td><td>Zhuang Kang</td><td>Daniel Marcinkowski</td><td></td></tr>
<tr><td>71</td><td>Philipp Fahrenschon</td><td>Daniel Marcinkowski</td><td></td></tr>
<tr><td>72</td><td>Florian Kapfhammer</td><td>Felix Breuer</td><td></td></tr>
<tr><td>73</td><td>Martin Breuer</td><td>Zhuang Kang</td><td></td></tr>
<tr><td>74</td><td>Richard Blieninger</td><td>Aly Hamdy</td><td></td></tr>
<tr><td>75</td><td>Cornelia Kapfhammer</td><td>Ciprian Bicu</td><td></td></tr>
<tr><td>76</td><td>Felix Schweikl</td><td>Peter Lux</td><td></td></tr>
<tr><td>77</td><td>Alexander Marcinkowski</td><td>Markus Kraus</td><td></td></tr>
<tr><td>78</td><td>Ciprian Bicu</td><td>Peter Lux</td><td></td></tr>
<tr><td>79</td><td>Markus Kraus</td><td>Zhuang Kang</td><td></td></tr>
<tr><td>80</td><td>Richard Blieninger</td><td>Alexander Marcinkowski</td><td></td></tr>
<tr><td>81</td><td>Felix Schweikl</td><td>Felix Breuer</td><td></td></tr>
<tr><td>82</td><td>Cornelia Kapfhammer</td><td>Daniel Marcinkowski</td><td></td></tr>
<tr><td>83</td><td>Philipp Fahrenschon</td><td>Florian Kapfhammer</td><td></td></tr>
<tr><td>84</td><td>Aly Hamdy</td><td>Martin Breuer</td><td></td></tr>
<tr><td>85</td><td>Alexander Marcinkowski</td><td>Peter Lux</td><td></td></tr>
<tr><td>86</td><td>Aly Hamdy</td><td>Markus Kraus</td><td></td></tr>
<tr><td>87</td><td>Daniel Marcinkowski</td><td>Richard Blieninger</td><td></td></tr>
<tr><td>88</td><td>Florian Kapfhammer</td><td>Cornelia Kapfhammer</td><td></td></tr>
<tr><td>89</td><td>Martin Breuer</td><td>Philipp Fahrenschon</td><td></td></tr>
<tr><td>90</td><td>Felix Breuer</td><td>Ciprian Bicu</td><td></td></tr>
<tr><td>91</td><td>Zhuang Kang</td><td>Felix Schweikl</td><td></td></tr>
<tr><td>X</td><td>Alex Wittmann</td><td>?</td><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}