{% extends 'base.html.twig' %}

{% block title %}Club-Liga 2024/25{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Club-Liga 2024/25</h1>
                    <p>Anmeldung bis Samstag, 21. September 2024 bei Markus</p>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Historische Ergebnisse</h1>
                    <p><a href="clubliga/2024">Clubliga 2023/24</a></p>
                    <p><a href="clubliga/2023">Clubliga 2022/23</a></p>
                </div>
            </div>            
        </div>
    </div>
{% endblock %}
