{% extends 'base.html.twig' %}

{% block title %}Club-Liga 2024/25{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-12 mt-12">
<h1>Club-Liga 2024/25</h1>
<p>Stand 8.7.2025 nach 65 von 75 Spielen</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Platz</th>
                            <th>Spieler</th>
                            <th>Spiele</th>
                            <th>Punkte</th>
                            <th>Frames</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>1</td><td>Aly Hamdy</td><td>10</td><td class="font-weight-bold">21</td><td>27:13</td></tr>
<tr><td>2</td><td>Felix Breuer</td><td>8</td><td class="font-weight-bold">20</td><td>27:5</td></tr>
<tr><td>3</td><td>Florian Kapfhammer</td><td>9</td><td class="font-weight-bold">20</td><td>26:10</td></tr>
<tr><td>4</td><td>Felix Schweikl</td><td>9</td><td class="font-weight-bold">20</td><td>25:11</td></tr>
<tr><td>5</td><td>Richard Blieninger</td><td>8</td><td class="font-weight-bold">17</td><td>21:11</td></tr>
<tr><td>6</td><td>Ciprian Bicu</td><td>9</td><td class="font-weight-bold">15</td><td>20:16</td></tr>
<tr><td>7</td><td>Markus Kraus</td><td>9</td><td class="font-weight-bold">15</td><td>23:13</td></tr>
<tr><td>8</td><td>Muaz Karabegovic</td><td>7</td><td class="font-weight-bold">14</td><td>20:8</td></tr>
<tr><td>9</td><td>Peter Lux</td><td>9</td><td class="font-weight-bold">13</td><td>18:18</td></tr>
<tr><td>10</td><td>Alexander Marcinkowski</td><td>9</td><td class="font-weight-bold">8</td><td>14:22</td></tr>
<tr><td>11</td><td>Martin Becker</td><td>8</td><td class="font-weight-bold">7</td><td>13:19</td></tr>
<tr><td>12</td><td>Daniel Marcinkowski</td><td>9</td><td class="font-weight-bold">6</td><td>10:26</td></tr>
<tr><td>13</td><td>Martin Breuer</td><td>8</td><td class="font-weight-bold">6</td><td>8:24</td></tr>
<tr><td>14</td><td>Alexander Wittmann</td><td>9</td><td class="font-weight-bold">3</td><td>5:31</td></tr>
<tr><td>15</td><td>Cornelia Kapfhammer</td><td>9</td><td class="font-weight-bold">0</td><td>3:33</td></tr>

                        </tbody>
                    </table>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h2>Spiele Juli 2025 (Best of 4)</h3>
                    <p>Spielergebnis mit Spielnummer in der Signalgruppe <em>SC147 Clubliga 2024/25</em> melden.</p> 
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                            <th>Ergebnis</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>36</td><td>Cornelia Kapfhammer</td><td>Muaz Karabegovic</td><td></td></tr>
<tr><td>78</td><td>Florian Kapfhammer</td><td>Felix Breuer</td><td></td></tr>
<tr><td>74</td><td>Alex Marcinkowski</td><td>Markus Kraus</td><td></td></tr>
<tr><td>96</td><td>Martin Breuer</td><td>Martin Beker</td><td></td></tr>
<tr><td>97</td><td>Peter Lux</td><td>Alex Wittmann</td><td></td></tr>
<tr><td>77</td><td>Felix Schweikl</td><td>Richard Blieninger</td><td></td></tr>
<tr><td>108</td><td>Daniel Marcinkowski</td><td>Felix Breuer</td><td>0:4</td></tr>
<tr><td>115</td><td>Ciprian Bicu</td><td>Felix Breuer</td><td></td></tr>
<tr><td>68<sup>*)</sup></td><td>Cornelia Kapfhammer</td><td>Aly Hamdy</td><td>1:3</td></tr>
                        </tbody>
                    </table>
                    <p><sup>*)</sup><small>Ersatzspiele f&uuml;r entfallene Spiele gegen Phil</small></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h2>Spielmodus</h2>
                    <p>
                        In der Vorrunde von Oktober 2024 bis Juli 2025 
                        spielt jeder Spieler 1 &quot;Best of 4&quot; Spiel pro Monat.
                        Am Samstag, 26. Juli 2025, findet f&uuml;r die Pl&auml;tze 1 bis 4
                        der Tabelle ein Mini-Finalturnier mit Halbfinale und Finale statt.
                    </p>
                    <p>
                        <strong>Sonderregel 2024/25:</strong><br/> 
                        Bei Spielen gegen Stammspieler der 1. und 2. Mannschaft 
                        und gegen Aly erhalten Alex W. und Cornelia doppelte Breakpunkte.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h2>Abgeschlossene Runden</h3>
                    <table class="table table-striped">
                        <tr><th>Nr</th><th>Spieler 1</th><th>Spieler 2</th><th>Runde Juni 2025</th></tr>
<tr><td>60</td><td>Daniel Marcinkowski</td><td>Martin Breuer</td><td></td></tr>
<tr><td>79</td><td>Markus Kraus</td><td>Cornelia Kapfhammer</td><td>4:0</td></tr>
<tr><td>65</td><td>Peter Lux</td><td>Martin Becker</td><td>3:1</td></tr>
<tr><td>66</td><td>Richard Blieninger</td><td>Muaz Karabegovic</td><td></td></tr>
<tr><td>114</td><td>Alex Marcinkowski</td><td>Richard Blieninger</td><td>0:4</td></tr>
<tr><td>72</td><td>Alex Wittmann</td><td>Felix Schweikl</td><td>0:4</td></tr>
<tr><td>73</td><td>Aly Hamdy</td><td>Florian Kapfhammer</td><td>2:2</td></tr>
<tr><td>115</td><td>Ciprian Bicu</td><td>Felix Breuer</td><td></td></tr>
                        <tr><th>Nr</th><th>Spieler 1</th><th>Spieler 2</th><th>Runde Mai 2025</th></tr>
<tr><td>83</td><td>Felix Breuer</td><td>Aly Hamdy</td><td>2:2</td></tr>
<tr><td>54</td><td>Martin Becker</td><td>Alex Marcinkowski</td><td>2:2</td></tr>
<tr><td>55</td><td>Muaz Karabegovic</td><td>Ciprian Bicu</td><td>3:1</td></tr>
<tr><td>56</td><td>Alex Wittmann</td><td>Daniel Marcinkowski</td><td>1:3</td></tr>
<tr><td>59</td><td>Ciprian Bicu</td><td>Markus Kraus</td><td>1:3</td></tr>
<tr><td>61</td><td>Felix Schweikl</td><td>Peter Lux</td><td>3:1</td></tr>
<tr><td>62</td><td>Florian Kapfhammer</td><td>Richard Blieninger</td><td>1:3</td></tr>
<tr><td>64</td><td>Martin Breuer</td><td>Cornelia Kapfhammer</td><td>4:0</td></tr>
                        <tr><th>Nr</th><th>Spieler 1</th><th>Spieler 2</th><th>Runde April 2025</th></tr>
<tr><td>76</td><td>Daniel Marcinkowski</td><td>Peter Lux</td><td>0:4</td></tr>
<tr><td>50</td><td>Richard Blieninger</td><td>Martin Becker</td><td>3:1</td></tr>
<tr><td>51</td><td>Felix Breuer</td><td>Muaz Karabegovic</td><td>2:2</td></tr>
<tr><td>52</td><td>Cornelia Kapfhammer</td><td>Alex Wittmann</td><td>1:3</td></tr>
<tr><td>57</td><td>Aly Hamdy</td><td>Felix Schweikl</td><td>2:2</td></tr>
<tr><td>58</td><td>Alex Marcinkowski</td><td>Florian Kapfhammer</td><td>2:2</td></tr>
<tr><td>75</td><td>Ciprian Bicu</td><td>Martin Breuer</td><td>4:0</td></tr>
                        <tr><th>Nr</th><th>Spieler 1</th><th>Spieler 2</th><th>Runde M&auml;rz 2025</th></tr>
<tr><td>38</td><td>Martin Becker</td><td>Aly Hamdy</td><td>1:3</td></tr>
<tr><td>39</td><td>Muaz Karabegovic</td><td>Alexander Marcinkowski</td><td>4:0</td></tr>
<tr><td>40</td><td>Alexander Wittmann</td><td>Ciprian Bicu</td><td>1:3</td></tr>
<tr><td>45</td><td>Felix Schweikl</td><td>Martin Breuer</td><td>4:0</td></tr>
<tr><td>46</td><td>Florian Kapfhammer</td><td>Peter Lux</td><td>4:0</td></tr>
<tr><td>47</td><td>Markus Kraus</td><td>Richard Blieninger</td><td>2:2</td></tr>
<tr><td>116</td><td>Daniel Marcinkowski</td><td>Cornelia Kapfhammer</td><td>4:0</td></tr>
<tr><td>63</td><td>Markus Kraus<sup>*)</sup></td><td>Felix Breuer</td><td>1:3</td></tr>
                        <tr><th>Nr</th><th>Spieler 1</th><th>Spieler 2</th><th>Runde Februar 2025</th></tr>
<tr><td>33</td><td>Peter Lux</td><td>Cornelia Kapfhammer</td><td>4:0</td></tr>
<tr><td><s>34</s></td><td><s>Richard Blieninger</s></td><td><s>Philipp Fahrenschon</s></td><td>-</td></tr>
<tr><td>35</td><td>Felix Breuer</td><td>Martin Becker</td><td>4:0</td></tr>
<tr><td>119</td><td>Markus Kraus</td><td>Muaz Karabegovic</td><td>2:2</td></tr>
<tr><td>120</td><td>Martin Breuer</td><td>Alex Wittmann</td><td>4:0</td></tr>
<tr><td>41</td><td>Aly Hamdy</td><td>Daniel Marcinkowski</td><td>4:0</td></tr>
<tr><td>42</td><td>Alex Marcinkowski</td><td>Felix Schweikl</td><td>1:3</td></tr>
<tr><td>43</td><td>Ciprian Bicu</td><td>Florian Kapfhammer</td><td>1:3</td></tr>
                        <tr><th>Nr</th><th>Spieler 1</th><th>Spieler 2</th><th>Runde Januar 2025</th></tr>
<tr><td><s>19</s></td><td><s>Felix Breuer</s></td><td><s>Philip Fahrenschon</s></td><td>-</td></tr>
<tr><td>20</td><td>Cornelia Kapfhammer</td><td>Martin Becker</td><td>0:4</td></tr>
<tr><td>23</td><td>Muaz Karabegovic</td><td>Aly Hamdy</td><td>1:3</td></tr>
<tr><td>24</td><td>Alex Wittmann</td><td>Alex Marcinkowski</td><td>0:4</td></tr>
<tr><td>27</td><td>Ciprian Bicu</td><td>Felix Schweikl</td><td>0:4</td></tr>
<tr><td>28</td><td>Daniel Marcinkowski</td><td>Florian Kapfhammer</td><td>1:3</td></tr>
<tr><td>31</td><td>Markus Kraus</td><td>Peter Lux</td><td>4:0</td></tr>
<tr><td>32</td><td>Martin Breuer</td><td>Richard Blieninger</td><td>0:4</td></tr>
                        <tr><th>Nr</th><th>Spieler 1</th><th>Spieler 2</th><th>Runde Dezember 2024</th></tr>
<tr><td>17</td><td>Peter Lux</td><td>Felix Breuer</td><td>0:4</td></tr>
<tr><td>18</td><td>Richard Blieninger</td><td>Cornelia Kapfhammer</td><td>3:1</td></tr>
<tr><td><s>21</s></td><td><s>Philipp Fahrenschon</s></td><td><s>Muaz Karabegovic</s></td><td>-</td></tr>
<tr><td>22</td><td>Martin Becker</td><td>Alex Wittmann</td><td>4:0</td></tr>
<tr><td>25</td><td>Aly Hamdy</td><td>Ciprian Bicu</td><td>1:3</td></tr>
<tr><td>26</td><td>Alex Marcinkowski</td><td>Daniel Marcinkowski</td><td>3:1</td></tr>
<tr><td>29</td><td>Felix Schweikl</td><td>Markus Kraus</td><td>2:2</td></tr>
<tr><td>30</td><td>Florian Kapfhammer</td><td>Martin Breuer</td><td>4:0</td></tr>
                        <tr><th>Nr</th><th>Spieler 1</th><th>Spieler 2</th><th>Runde November 2024</th></tr>
<tr><td>2</td><td>Richard Blieninger</td><td>Felix Breuer</td><td>0:4</td></tr>
<tr><td><s>4</s></td><td><s>Cornelia Kapfhammer</s></td><td><s>Philipp Fahrenschon</s></td><td><s>0:4</s></td></tr>
<tr><td>6</td><td>Martin Becker</td><td>Muaz Karabegovic</td><td>0:4</td></tr>
<tr><td>8</td><td>Alexander Wittmann</td><td>Aly Hamdy</td><td>0:4</td></tr>
<tr><td>10</td><td>Alexander Marcinkowski</td><td>Ciprian Bicu</td><td>1:3</td></tr>
<tr><td>12</td><td>Daniel Marcinkowski</td><td>Felix Schweikl</td><td>1:3</td></tr>
<tr><td>14</td><td>Florian Kapfhammer</td><td>Markus Kraus</td><td>3:1</td></tr>
<tr><td>16</td><td>Martin Breuer</td><td>Peter Lux</td><td>0:4</td></tr>
                        <tr><th>Nr</th><th>Spieler 1</th><th>Spieler 2</th><th>Runde Oktober 2024</th></tr>
<tr><td>1</td><td>Peter Lux</td><td>Richard Blieninger</td><td>2:2</td></tr>
<tr><td>3</td><td>Felix Breuer</td><td>Cornelia Kapfhammer</td><td>4:0</td></tr>
<tr><td><s>5</s></td><td><s>Philipp Fahrenschon</s></td><td><s>Martin Becker</s></td><td><s>4:0</s></td></tr>
<tr><td>7</td><td>Muaz Karabegovic</td><td>Alexander Wittmann</td><td>4:0</td></tr>
<tr><td>9</td><td>Aly Hamdy</td><td>Alexander Marcinkowski</td><td>3:1</td></tr>
<tr><td>11</td><td>Ciprian Bicu</td><td>Daniel Marcinkowski</td><td>4:0</td></tr>
<tr><td>13</td><td>Felix Schweikl</td><td>Florian Kapfhammer</td><td>0:4</td></tr>
<tr><td>15</td><td>Markus Kraus</td><td>Martin Breuer</td><td>4:0</td></tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Historische Ergebnisse</h1>
                    <p><a href="clubliga/2024">Clubliga 2023/24</a></p>
                    <p><a href="clubliga/2023">Clubliga 2022/23</a></p>
                </div>
            </div>            
        </div>
    </div>
{% endblock %}
