{% extends 'base.html.twig' %}

{% block title %}Club-Liga 2023/24{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Club-Liga 2023/24</h1>
                    <p>Stand 26.9.2023 nach 8 von 105 Spielen</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Platz</th>
                            <th>Spieler</th>
                            <th>Spiele</th>
                            <th>Punkte</th>
                            <th>Frames</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>1</td><td>Philipp Fahrenschon</td><td>1</td><td class="font-weight-bold">3</td><td>4:0</td></tr>
<tr><td>2</td><td>Daniel Marcinkowski</td><td>1</td><td class="font-weight-bold">3</td><td>3:1</td></tr>
<tr><td>3</td><td>Felix Schweikl</td><td>1</td><td class="font-weight-bold">3</td><td>3:1</td></tr>
<tr><td>4</td><td>Peter Lux</td><td>1</td><td class="font-weight-bold">3</td><td>3:1</td></tr>
<tr><td>5</td><td>Ciprian Bicu</td><td>1</td><td class="font-weight-bold">0</td><td>1:3</td></tr>
<tr><td>6</td><td>Florian Kapfhammer</td><td>1</td><td class="font-weight-bold">0</td><td>1:3</td></tr>
<tr><td>7</td><td>Martin Breuer</td><td>1</td><td class="font-weight-bold">0</td><td>1:3</td></tr>
<tr><td>8</td><td>Markus Kraus</td><td>1</td><td class="font-weight-bold">0</td><td>0:4</td></tr>
<tr><td>9</td><td>Alexander Wittmann</td><td>-</td><td class="font-weight-bold">0</td><td>-</td></tr>
<tr><td>10</td><td>Aly Hamdy</td><td>-</td><td class="font-weight-bold">0</td><td>-</td></tr>
<tr><td>11</td><td>Cornelia Kapfhammer</td><td>-</td><td class="font-weight-bold">0</td><td>-</td></tr>
<tr><td>12</td><td>Felix Breuer</td><td>-</td><td class="font-weight-bold">0</td><td>-</td></tr>
<tr><td>13</td><td>Richard Blieninger</td><td>-</td><td class="font-weight-bold">0</td><td>-</td></tr>
<tr><td>14</td><td>Zuang Kang</td><td>-</td><td class="font-weight-bold">0</td><td>-</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>N&auml;chste Spiele (23.9. - 15.10.)</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>8</td><td>Florian Kapfhammer</td><td>Zhuang Kang</td></tr>
<tr><td>9</td><td>Alexander Marcinkowski</td><td>Ciprian Bicu</td></tr>
<tr><td>10</td><td>Daniel Marcinkowski</td><td>Felix Schweikl</td></tr>
<tr><td>11</td><td>Markus Kraus</td><td>Martin Breuer</td></tr>
<tr><td>12</td><td>Peter Lux</td><td>Richard Blieninger</td></tr>
<tr><td>13</td><td>Felix Breuer</td><td>Cornelia Kapfhammer</td></tr>
<tr><td>14</td><td>Philipp Fahrenschon</td><td>Aly Hamdy</td></tr>
<tr><td>X</td><td>Alexander Wittmann</td><td>?</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Spieltag 1 (2.9.-24.9.)</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                            <th>Ergebnis</th>
                        </tr>
                        </thead>
                        <tbody>
<tr><td>1</td><td>Markus Kraus</td><td>Philipp Fahrenschon</td><td>0:4</td></tr>
<tr><td>2</td><td>Aly Hamdy</td><td>Alexander Marcinkowski</td><td>-</td></tr>
<tr><td>3</td><td>Ciprian Bicu</td><td>Daniel Marcinkowski</td><td>1:3</td></tr>
<tr><td>4</td><td>Felix Schweikl</td><td>Florian Kapfhammer</td><td>3:1</td></tr>
<tr><td>5</td><td>Martin Breuer</td><td>Peter Lux</td><td>1:3</td></tr>
<tr><td>6</td><td>Richard Blieninger</td><td>Felix Breuer</td><td>-</td></tr>
<tr><td>7</td><td>Cornelia Kapfhammer</td><td>Zhuang Kang</td><td>-</td></tr>
<tr><td>X</td><td>Alexander Wittmann</td><td>?</td><td>-</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}