{% extends 'base.html.twig' %}

{% block title %}Club-Liga 2022/23{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Club-Liga 2023/24 - Anmeldungen</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Spieler</th>
                            <th>Platzierung 2022/23</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr><td>Florian Kapfhammer</td><td>1.</td></tr>
                            <tr><td>Markus Kraus</td><td>3.</td></tr>
                            <tr><td>Aly Hamdy</td><td>6.</td></tr>
                            <tr><td>Richard Blieninger</td>8.<td></td></tr>
                            <tr><td>Alexander Marcinkowski</td><td>9.</td></tr>
                            <tr><td>Thomas Luft</td><td>12.</td></tr>
                            <tr><td>Daniel Marcinkowski</td><td>14.</td></tr>
                            <tr><td>Cornelia Kapfhammer</td><td>16.</td></tr>
                        </tbody>
                    </table>
                    <p>Anmeldeschluss 25.8.2023, Beginn: 1.9.2023</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}