{% extends 'base.html.twig' %}

{% block title %}Breaks{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            {% if is_granted('ROLE_USER') %}
            <div class="row">
                <div class="col">
                    <a class="btn btn-success mt-4" href="{{ path('snooker_break_new') }}">Neues Break eintragen</a>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-6 mt-4">
                    <h1>Aktuelle 30+ Breaks</h1>
                    {{ include('snooker_break/_breaktable.html.twig', {'breaks': snooker_breaks}) }}
                </div>

                {% if is_granted('ROLE_USER') %}
                <div class="col-md-6 mt-4">
                    <h1>Meine Top Breaks</h1>
                    {{ include('snooker_break/_breaktable.html.twig', {'breaks': personal_breaks}) }}
                </div>
                {% endif %}
    
                <div class="col-md-6 mt-4">
                    <h1>Top 20 der letzten 3 Monate</h1>
                    {{ include('snooker_break/_breaktable.html.twig', {'breaks': highest_breaks}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
