{% extends 'base.html.twig' %}

{% block title %}Registrieren{% endblock %}

{% block body %}
    <div class="main-container container">
        <div class="row">
            <div class="col-12 mt-4">
                <h1>Danke für deine Registrierung</h1>
                <p>Um dich einloggen zu können, werden wir zum Freischalten deine Daten überprüfen.</p>
                <p>Bis dahin kannst du dich nicht einloggen.</p>

            </div>
        </div>
    </div>
{% endblock %}
