{% extends 'base.html.twig' %}

{% block title %}Passwort vergessen{% endblock %}

{% block body %}
    <div class="main-container container">
        <div class="row">
            <div class="col-12 mt-4">
                <h1>Passwort vergessen</h1>
                <p>Eine Mail zum Passwort neu setzen wurde versandt.</p>
            </div>
        </div>
    </div>
{% endblock %}
