{% extends 'base.html.twig' %}

{% block title %}Breaks{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-lg-7 mt-4">
                    <h2>Breaks</h2>

                    <p>
                        Seit September 2020 führen wir eine Liste von Breaks ab 25 Punkten, die unsere 
                        Mitglieder in Ligaspielen, Freundschaftsspielen oder Trainingsspielen erzielt haben.
                    </p>

                    <img src="/images/breaks.png" style="width: 100%;" />

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Datum</th>
                                    <th>Break</th>
                                    <th>Spieler</th>
                                    <th>Gegner</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>27.1.2021</td><td>40</td><td>Florian</td><td>Uli</td></tr>
                                <tr><td>10.11.2020</td><td>30</td><td>Richard</td><td>Zafir</td></tr>
                                <tr><td>8.11.2020</td><td>25, 32</td><td>Stefan</td><td>Zafir</td></tr>
                                <tr><td>6.11.2020</td><td>28</td><td>Stefan</td><td>Markus</td></tr>
                                <tr><td>3.11.2020</td><td>27</td><td>Florian</td><td>Cornelia</td></tr>
                                <tr><td>30.10.2020</td><td>28, 33</td><td>Stefan</td><td>Uli</td></tr>
                                <tr><td>29.10.2020</td><td>27, 25</td><td>Stefan</td><td>Aaron</td></tr>
                                <tr><td>29.10.2020</td><td>28</td><td>Markus</td><td>Richard</td></tr>
                                <tr><td>27.10.2020</td><td>27</td><td>Felix</td><td>Florian</td></tr>
                                <tr><td>26.10.2020</td><td>28</td><td>Aaron</td><td>Stefan</td></tr>
                                <tr><td>23.10.2020</td><td>27, 31</td><td>Stefan</td><td>Felix</td></tr>
                                <tr><td>20.10.2020</td><td>37</td><td>Felix</td><td>Richard</td></tr>
                                <tr><td>19.10.2020</td><td>32</td><td>Stefan</td><td>Peter</td></tr>
                                <tr><td>16.10.2020</td><td>46, 27</td><td>Aaron</td><td>Stefan</td></tr>
                                <tr><td>15.10.2020</td><td>37, 34</td><td>Stefan</td><td>Peter</td></tr>
                                <tr><td>13.10.2020</td><td>29</td><td>Felix</td><td>Richard</td></tr>
                                <tr><td>9.10.2020</td><td>25, 31</td><td>Stefan</td><td>Aaron</td></tr>
                                <tr><td>8.10.2020</td><td><strong>47</strong>, 37</td><td>Stanislav</td><td>Markus</td></tr>
                                <tr><td>8.10.2020</td><td>27</td><td>Markus</td><td>Stanislav</td></tr>
                                <tr><td>7.10.2020</td><td>25</td><td>Stefan</td><td>Rudi</td></tr>
                                <tr><td>5.10.2020</td><td>30</td><td>Stefan</td><td>Robert</td></tr>
                                <tr><td>4.10.2020</td><td>32</td><td>Zafir</td><td>Aaron</td></tr>
                                <tr><td>29.9.2020</td><td>25</td><td>Stefan</td><td>Zafir</td></tr>
                                <tr><td>26.9.2020</td><td>42</td><td>Richard</td><td>Markus</td></tr>
                                <tr><td>25.9.2020</td><td>25, 27</td><td>Stefan</td><td>Rudi</td></tr>
                                <tr><td>25.9.2020</td><td>27, 32</td><td>Stefan</td><td>Robert</td></tr>
                                <tr><td>23.9.2020</td><td>27</td><td>Aaron</td><td>Stefan</td></tr>
                                <tr><td>23.9.2020</td><td>27</td><td>Stefan</td><td>Aaron</td></tr>
                                <tr><td>17.9.2020</td><td>28, 29</td><td>Aaron</td><td>Stefan</td></tr>
                                <tr><td>17.9.2020</td><td>30, 43</td><td>Stefan</td><td>Aaron</td></tr>
                                <tr><td>15.9.2020</td><td>26</td><td>Felix</td><td>Zafir</td></tr>
                                <tr><td>14.9.2020</td><td>25</td><td>Peter</td><td>Heinz</td></tr>
                                <tr><td>11.9.2020</td><td>25</td><td>Stefan</td><td>Markus</td></tr>
                                <tr><td>9.9.2020</td><td>25</td><td>Zafir</td><td>Aaron</td></tr>
                                <tr><td>9.9.2020</td><td>41, 31</td><td>Aaron</td><td>Zafir</td></tr>
                                <tr><td>9.9.2020</td><td>26, 46</td><td>Aaron</td><td>Stefan</td></tr>
                                <tr><td>8.9.2020</td><td>36</td><td>Aaron</td><td>Stefan</td></tr>
                                <tr><td>7.9.2020</td><td>31</td><td>Florian</td><td>Felix</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
