{% extends 'base.html.twig' %}

{% block title %}Preise{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-lg-7 mt-4">
                    <h1>Preise</h1>

                    <div class="mt-4">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">Preis in Euro</th>
                                    <th scope="col">zahlbar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Erwachsene</td>
                                    <td>65,00</td>
                                    <td>monatlich</td>
                                </tr>
                                <tr>
                                    <td>Familien, Paare</td>
                                    <td>100,00</td>
                                    <td>monatlich</td>
                                </tr>
                                <tr>
                                    <td>Lehrlinge, Sch&uuml;er, Studenten</td>
                                    <td>40,00</td>
                                    <td>monatlich</td>
                                </tr>
                                <tr>
                                    <td>Passivmitglieder, Kinder</td>
                                    <td>10,00</td>
                                    <td>monatlich</td>
                                </tr>
                                <tr>
                                    <td>Tagesspielberechtigungen für Gäste und Passivmitglieder)</td>
                                    <td>15,00</td>
                                    <td>pro Tag</td>
                                </tr>
                                <tr>
                                    <td>Aufnahmegeb&uuml;hr</td>
                                    <td>100,00</td>
                                    <td>einmalig</td>
                                </tr>
                                <tr>
                                    <td>Schlüsselkaution (Erstattung bei Austritt)</td>
                                    <td>50,00</td>
                                    <td>einmalig</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 mt-4">
                    <h2>Neue Mitglieder</h2>
                    <ul class="list-group list-group-flush list-box">
                        <li class="list-group-item">
                            <h4>Wie werde ich Mitglied?</h4>
                            <p>
                                Vorbeikommen nach Voranmeldung per SMS, Signal (+49 1577 3375766) 
                                oder E-Mail an <a href="mailto:info@sc147.de">info@sc147.de</a>.
                            </p>
                        </li>
                        <li class="list-group-item">
                            <h4>Einführung für Neulinge</h4>
                            <p>
                                Neue Mitglieder erhalten eine Einführung in die Clubgepflogenheiten 
                                und bei Bedarf auch in Snookerregeln, Spieltechnik, Material, ...
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
