{% extends 'base.html.twig' %}

{% block title %}Sonstiges{% endblock %}

{% block body %}
    <div class="map">
        <div class="container main-container">
            <div class="row">
                <div class="col-lg-7 mt-4">
                    <h1>Sonstiges</h1>

                    <div class="mt-4">
                        <h3>Formulare</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="/downloads/mitgliedsantrag.pdf" target="_blank">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Aufnahmeantrag</a></li>
                            <li class="list-group-item"><a href="/downloads/datenschutzerklaerung.pdf" target="_blank">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Datenschutzerklärung</a></li>
                        </ul>
                    </div>

                    <div class="mt-4">
                        <h3>Links</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="https://bbv.billardarea.de/content/" target="_blank">
                                <i class="fa fa-external-link" aria-hidden="true"></i> Bayerischer Billardverband (BBV)</a></li>
                            <li class="list-group-item"><a href="https://portal.billardarea.de/content/" target="_blank">
                                <i class="fa fa-external-link" aria-hidden="true"></i> Deutsche Billard-Union (DBU)</a></li>
                            <li class="list-group-item"><a href="https://www.german-snooker-tour.de/" target="_blank">
                                <i class="fa fa-external-link" aria-hidden="true"></i> German Snooker (GST)</a></li>
                            <li class="list-group-item"><a href="http://snookerpro.de/" target="_blank">
                                <i class="fa fa-external-link" aria-hidden="true"></i> Snooker Pro</a></li>
                        </ul>
                    </div>

                    <div class="mt-4">
                        <p>Verschiedene Vereinsdokumente im <a href="/impressum">Impressum</a></p>    
                    </div>

                </div>
                
                <div class="col-lg-5 mt-4">
                    <h2>FAQ</h2>
                    <ul class="list-group list-group-flush list-box">
                        <li class="list-group-item">
                            <h4>Brauche ich ein eigenes Queue?</h4>
                            <p>Erst einmal nicht, später wirst du dein eigenes Queue wollen.</p>
                        </li>
                        <li class="list-group-item">
                            <h4>Finde ich Spielpartner in meiner Spielstärke?</h4>
                            <p>Vom Neuling bis zum Q School Teilnehmer finden alle bei uns Spielpartner.</p>
                        </li>
                        <li class="list-group-item">
                            <h4>Kann der Tisch reserviert werden?</h4>
                            <p>Ja, Mitglieder können ihre Spielzeiten vorbuchen.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
