{% extends 'base.html.twig' %}

{% block title %}Spiele{% endblock %}

{% block body %}
    <div class="imprint">
        <div class="container main-container">
            <div class="row">
				<div class="col-12 mt-4">
					<h1>Spiele</h1>
					<p>
                        Außer dem "normaln" Snooker mit 15 roten Bällen, 
                        gibt es noch weitere Spielarten. Einige werden 
                        hier vorgestellt.
                    </p>

                    <h2>Englisch Billards</h2>
					<ul class="list-group list-group-flush list-box">
						<li class="list-group-item">
                            <p>
                                Spiel für zwei Personen mit drei Bällen: Weiß, Gelb und Rot.
                                Spieler 1 hat Weiß als Spielball, Spieler 2 Gelb.
                            </p>
                            <p>
                                <strong>Ziel:</strong> Festgelegten Punktestand oder die
                                 meisten Punkte innerhalb einer festgelegten Zeit erreichen.
                            </p>
                            <p>
                                <strong>Aufbau:</strong> Rot auf den Black-Spot; Anstoß aus dem "D"
                            </p>
                            <p>
                                <strong>Punkt erzielen:</strong>
                                <ul>
                                    <li>3 Punkte: Roten Ball lochen</li>
                                    <li>3 Punkte: Eigenen Spielball lochen nach Kontakt mit Rot</li>
                                    <li>2 Punkte: Gegnerischen Spielball lochen</li>
                                    <li>2 Punkte: Eigenen Spielball lochen nach Kontakt dem gegnerischen Spielball</li>
                                    <li>2 Punkte: Rot und gegnerischen Spielball mit dem eigenen Spielball berühren ("Cannon")</li>
                                </ul> 
                                Kombinationen sind möglich. Rot und den eigenen Spielball lochen: 6 Punkte.
                            </p>
                            <p>
                                Gute Erklärung (engl.) auf Youtube: 
                                <a href="https://www.youtube.com/watch?v=vXyNLOKX61M" target="youtube">How English Billards is Played></a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
