{% extends 'base.html.twig' %}

{% block title %}Anfahrt{% endblock %}

{% block body %}
    <div class="map">
        <div class="container main-container">
            <div class="row">
                <div class="col-12 mt-4">
                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="500"
                            src="https://maps.google.com/maps?hl=de&amp;q=Klausnerring%2015%2C%2085551%20Kirchheim%20bei%20M%C3%BCnchen+(Snookerclub%20147%20M%C3%BCnchen%20e.V.)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed"></iframe>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-4">
                    <h1>Anfahrt</h1>

                    <p>Zufahrt mit dem Auto über die Ammerthalstraße.</p>
                    <p><span class="strong">Achtung:</span> Wir besitzen keinen eigenen Stellplatz auf dem Gelände!</p>
                    <p>Öffentlich: S-Bahn Feldkirchen und 2 Stationen mit dem Bus (263) oder 12 Min. zu Fuß</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
