{% extends 'base.html.twig' %}

{% block title %}Anfahrt{% endblock %}

{% block body %}
    <div class="map">
        <div class="container main-container">
            <div class="row">
                <div class="col-12 mt-4">
                    <h1>Anfahrt</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-4">
                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="500"
                            src="https://maps.google.com/maps?hl=de&amp;q=Klausnerring%2015%2C%2085551%20Kirchheim%20bei%20M%C3%BCnchen+(Snookerclub%20147%20M%C3%BCnchen%20e.V.)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed"></iframe>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-4">
                    <ul>
                        <li>Öffentlich:<br/>S2 bis Feldkirchen - Bus 263 Messestadt West bis F.-Schüle-Str. - am Feldrand zum Klausnerring</li>
                        <li>Auto:<br/>A94 bis Feldkirchen Ost - rechts Richtung Heimstetten - 3te links Ammerthalstr. - 1st links Klausnerring</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
