{% extends 'base.html.twig' %}

{% block title %}Mitgliedschaft{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-lg-7 mt-4">
                    <h2>Mitgliedschaft</h2>

                    <div class="featured-yellow">
                        <h4>Wir bieten:</h4>
                        <p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="green fa fa-check fa-lg" aria-hidden="true"></i> 7
                                Tage rund um die Uhr Zugang mit Schlüssel
                            </li>
                            <li class="list-group-item"><i class="green fa fa-check fa-lg" aria-hidden="true"></i>
                                Unbegrenzte Spielberechtigung
                            </li>
                            <li class="list-group-item"><i class="green fa fa-check fa-lg" aria-hidden="true"></i>
                                Tischreservierung
                            </li>
                            <li class="list-group-item"><i class="green fa fa-check fa-lg" aria-hidden="true"></i>
                                Einführung in Regeln und Gepflogenheiten
                            </li>
                            <li class="list-group-item"><i class="green fa fa-check fa-lg" aria-hidden="true"></i>
                                Kostenfreies Grundlagentraining
                            </li>
                            <li class="list-group-item"><i class="green fa fa-check fa-lg" aria-hidden="true"></i>
                                Nutzung aller Einrichtungen
                            </li>
                            <li class="list-group-item"><i class="green fa fa-check fa-lg" aria-hidden="true"></i>
                                Turniere und Vereinsmeisterschaften
                            </li>
                            <li class="list-group-item"><i class="green fa fa-check fa-lg" aria-hidden="true"></i>
                                Forderungspyramide
                            </li>
                            <li class="list-group-item"><i class="green fa fa-check fa-lg" aria-hidden="true"></i>
                                Beteiligung am Ligabetrieb
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush mt-3">
                            <li class="list-group-item"><i class="red fa fa-times fa-lg" aria-hidden="true"></i>
                                Garantierte 5 Centuries und 2 Maximum Breaks pro Jahr
                            </li>
                        </ul>
                    </div>
                    <div class="mt-4">
                        <h2>Preise</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Position</th>
                                    <th scope="col">Preis in Euro</th>
                                    <th scope="col">zahlbar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Erwachsene</td>
                                    <td>65,00</td>
                                    <td>monatlich</td>
                                </tr>
                                <tr>
                                    <td>Familien, Paare</td>
                                    <td>100,00</td>
                                    <td>monatlich</td>
                                </tr>
                                <tr>
                                    <td>Azubis, Schüler, Studenten, Geringverdiener</td>
                                    <td>40,00</td>
                                    <td>monatlich</td>
                                </tr>
                                <tr>
                                    <td>Azubi- (etc.) Paare</td>
                                    <td>60,00</td>
                                    <td>monatlich</td>
                                </tr>
                                <tr>
                                    <td>Passivmitglieder, Kinder</td>
                                    <td>10,00</td>
                                    <td>monatlich</td>
                                </tr>
                                <tr>
                                    <td>Tagesspielberechtigungen (Gäste, Passivmitglieder)</td>
                                    <td>15,00</td>
                                    <td>pro Tag</td>
                                </tr>
                                <tr>
                                    <td>Aufnahmegebühr (kann erlassen werden)</td>
                                    <td>100,00</td>
                                    <td>einmalig</td>
                                </tr>
                                <tr>
                                    <td>Schlüsselkaution (wird bei Austritt erstattet)</td>
                                    <td>50,00</td>
                                    <td>einmalig</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 mt-4">
                    <h2>FAQ</h2>
                    <ul class="list-group list-group-flush list-box">
                        <li class="list-group-item">
                            <h4>Brauche ich ein eigenes Queue?</h4>
                            <p>Erst einmal nicht, später wirst du dein eigenes Queue wollen.</p>
                        </li>
                        <li class="list-group-item">
                            <h4>Gibt es eine Einführung für Neulinge?</h4>
                            <p>Aber sicher, Clubgepflogenheiten, Snookerregeln, Spieltechnik, Material, ...</p>
                        </li>
                        <li class="list-group-item">
                            <h4>Wird regelmäßig trainiert?</h4>
                            <p>Dienstags ab 18 Uhr oder nach Vereinbarung.</p>
                        </li>
                        <li class="list-group-item">
                            <h4>Finde ich Spielpartner in meiner Spielstärke?</h4>
                            <p>Vom Neuling bis zum Bundesligaspieler finden alle bei uns Spielpartner.</p>
                        </li>
                        <li class="list-group-item">
                            <h4>Kann der Tisch reserviert werden?</h4>
                            <p>Ja, Mitglieder können ihre Spielzeiten vorbuchen.</p>
                        </li>
                        <li class="list-group-item">
                            <h4>Wie werde ich Mitglied?</h4>
                            <p>Komm einfach vorbei, z.B. Dienstags gegen 17 bis 20 Uhr oder schreibe an E-Mail an <a
                                        href="mailto:info@m-snooker.de">info@m-snooker.de</a>.</p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
