{% extends 'base.html.twig' %}

{% block title %}Snooker Regeln Spezial{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h2>Snooker Regeln Spezial (draft)</h2>
                    <p>
                        Auch erfahrene Spieler sind bei Regelauslegungen teilweise unsicher. 
                        Einige sind hier bewusst vereinfacht und kompakt dargestellt. 
                        Wer ein korrekt formuliertes, vollständiges Regelwerk sucht, 
                        findet es z. B. unter 
                        snookerregeln.de (<a href="https://www.snookerregeln.de/spiel" target="snookerrules">HTML</a>) oder 
                        billardarena.de (<a href="http://portal.billardarea.de/img/cms/clients/1/files/Spielregeln%20Snooker%2005_2020_V3.pdf" target="snookerrules">PDF</a>).
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h5>Miss nach zu kurzem Stoß</h5>
                    <p>
                        Spieler ist auf Rot gesnookert, spielt über 1 Bande und Weiß stoppt vor Rot.
                        <br/>&rArr; Miss – der Spieler kann problemlos etwas stärker spielen
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h5>Miss bei schwierigerem Weg</h5>
                    <p>
                        Spieler ist gesnookert, könnte gut über 1 Bande spielen und verfehlt über 2 Banden.
                        <br/>&rArr; Miss – das Foul kann über den leichteren Weg vermutlich vermieden werden 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h5>Miss bei mangelnder Motivation </h5>
                    <p>
                        Spieler ist gesnookert, spielt ohne ausreichende Vorbereitung und verfehlt.
                        <br/>&rArr; Miss – ein ernsthafter Versuch muss erkennbar sein
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h5>Miss und schwer wiederherstellbares Bild</h5>
                    <p>
                        Spieler verfehlt, verstellt viele Bälle und das ursprüngliche Bild kann 
                        unmöglich korrekt wiederhergestellt werden (kein Video, kein Marker).
                        <br/>&rArr; ggf. Miss – Bälle gemeinsam bestmöglich aus dem Gedächtnis zurücklegen
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h5>Miss bei Rückstand gleich Punkten auf dem Tisch</h5>
                    <p>
                        35 Punkte auf dem Tisch, Spieler hat 31 Punkte Rückstand und verfehlt Rot.
                        <br/>&rArr; Miss – Foul 4, Rückstand 35 Punkte bei 35 Punkten auf dem Tisch
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h5>Kein Miss bei mehr Rückstand als Punkten auf dem Tisch</h5>
                    <p>
                        35 Punkte auf dem Tisch, Spieler hat 32 Punkte Rückstand und verfehlt Rot.
                        <br/>&rArr; Kein Miss – Foul 4, Rückstand 36 Punkte bei 35 Punkten auf dem Tisch
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h5>Foul ohne Stoßvorgang</h5>
                    <p>
                        Spieler hat Rot gelocht und berührt vor der Auswahl einer Farbe versehentlich Grün.
                        <br/>&rArr; Foul – 7 Foulpunkte, da noch keine Farbe angesagt war
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h5>Foul beim gleichzeitigen Treffen von 2 Bällen</h5>
                    <p>
                        Spieler will Grün spielen und trifft Grün und die daneben liegende Rote gleichzeitig 
                        <br/>&rArr; Foul – Gleichzeitiges Treffen des falschen Balles
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h5>Foul durch Jump Shot</h5>
                    <p>
                        Spieler will Gelb direkt anspielen, Weiß springt und trifft Gelb auf der Rückseite
                        <br/>&rArr; Foul – Mitte des Objektballs übersprungen
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h5>Kein Foul bei Kieksern</h5>
                    <p>
                        Spieler will Blau direkt anspielen, Weiß springt etwas und trifft Blau auf der Vorderseite
                        <br/>&rArr; Kein Foul – Objektball wurde vor der Kugelmitte getroffen
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h5>Kein Foul bei Querschlägern</h5>
                    <p>
                        Spieler spielt Pink, dann hebt Weiß an der Bande ab und überspringt mehrere Bälle
                        <br/>&rArr; Kein Foul - Objektball korrekt getroffen
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-8">
                    <h5>Kein Foul durch den Schiedsrichter</h5>
                    <p>
                        Spieler 1 hat Schwarz gelocht, Spieler 2 setzt Schwarz auf den Spot und verschiebt versehentlich einen roten Ball
                        <br/>&rArr; Kein Foul – Rot zurückrollen
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
