{% extends 'base.html.twig' %}

{% block title %}Rules Reloaded{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <h2>Rules Reloaded</h2>

                <p>
                    Die umfassenden Snookerregeln findest Du z. B. unter <a href="https://www.snookerregeln.de/">snookerregeln.de</a>.
                    Auf dieser Seite behandeln wir Feinheiten, bei denen sich oft auch erfahrene Spieler unsicher sind.
                </p>
            </div>
            <h3>Foul</h3>
            <div class="row">
                <ul class="list-group list-group-flush list-box">
                    <li class="list-group-item">
                        <h4>Foulpunkte bei der Farbsuche</h4>
                        <p>
                            <strong>Situation</strong>: Spieler hat einen roten Ball regulär gelocht
                            <br/><strong>Aktion</strong>: Spieler berührt versehntlich einen roten Ball bevor er sich für eine Farbe entschieden hat
                            <br/><strong>Frage</strong>: Wieviel Foulpunkte?
                            <br/><strong>Antwort</strong>: 7 ... <i>Erklärung</i>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4>Foul beim Aufsetzen des Balles (1)</h4>
                        <p>
                            <strong>Situation</strong>: Spieler 1 hat Blau regulär gelocht
                            <br/><strong>Aktion</strong>: Spieler 2 setzt Blau auf den Spot und verschiebt dabei versehentlich einen roten Ball in der Nähe des Spots
                            <br/><strong>Frage</strong>: Foul für Spieler 2?
                            <br/><strong>Antwort</strong>: Nein ... <i>Erklärung</i>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4>Foul beim Aufsetzen des Balles (2)</h4>
                        <p>
                            <strong>Situation</strong>: Spieler 1 hat Blau regulär gelocht
                            <br/><strong>Aktion</strong>: Spieler 1 setzt Blau auf den Spot und verschiebt dabei versehentlich einen roten Ball in der Nähe des Spots
                            <br/><strong>Frage</strong>: Foul für Spieler 1?
                            <br/><strong>Antwort</strong>: ...
                        </p>
                    </li>
                </ul>
            </div>
            <h3>Miss</h3>
            <div class="row">
                <ul class="list-group list-group-flush list-box">
                    <li class="list-group-item">
                        <h4>Miss bei Punktegleichstand (1)</h4>
                        <p>
                            <strong>Situation</strong>: Spieler 1 hat 50 Punkte, Spieler 2 hat 11 Punkte, noch 35 Punkte auf dem Tisch
                            <br/><strong>Aktion</strong>: Spieler 1 begeht aus einem Snooker ein 4-Punkte-Foul
                            <br/><strong>Frage</strong>: Miss möglich? 
                            <br/><strong>Antwort</strong>: ... 
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4>Miss bei Punktegleichstand (2)</h4>
                        <p>
                            <strong>Situation</strong>: Spieler 1 hat 50 Punkte, Spieler 2 hat 19 Punkte, noch 35 Punkte auf dem Tisch
                            <br/><strong>Aktion</strong>: Spieler 2 begeht aus einem Snooker ein 4-Punkte-Foul
                            <br/><strong>Frage</strong>: Miss möglich? 
                            <br/><strong>Antwort</strong>: ... 
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
