{% extends 'base.html.twig' %}

{% block title %}Anfahrt{% endblock %}

{% block body %}
    <div class="map">
        <div class="container main-container">
            <div class="row">
                <div class="col-12 mt-4">
                    <h2>Service</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-4">
                    <h3>Formulare</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="/downloads/mitgliedsantrag.pdf" target="_blank">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Aufnahmeantrag</a></li>
                        <li class="list-group-item"><a href="/downloads/datenschutzerklaerung.pdf" target="_blank">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Datenschutzerklärung</a></li>
                    </ul>

                    <div class="mt-4">
                        <h3>Links</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="https://bbv.billardarea.de/" target="_blank">
                                <i class="fa fa-external-link" aria-hidden="true"></i> BillardArea</a></li>
                            <li class="list-group-item"><a href="http://snookerpro.de/" target="_blank">
                                <i class="fa fa-external-link" aria-hidden="true"></i> Snooker Pro</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <h3>Verbände und Organisationen</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://bbv.billardarea.de/content/" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> Bayerischer Billardverband (BBV)</a></li>
                        <li class="list-group-item"><a href="https://portal.billardarea.de/content/" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> Deutsche Billard-Union (DBU)</a></li>
                        <li class="list-group-item"><a href="https://www.german-snooker-tour.de/" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> German Snooker (GST)</a></li>
                        <li class="list-group-item"><a href="https://www.nada.de/de/nationale-anti-doping-agentur-deutschland/" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> Nationale Anti Doping Agentur (NADA)</a>
                        </li>
                    </ul>

                    <div class="mt-4">
                        <h3>Material und Fortbildung</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="mailto:vollzieherman@t-online.de" target="_blank">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i> Jürgen Kesseler (Queues und Koffer)</a></li>
                            <li class="list-group-item"><a href="http://www.ole-steiner.de/" target="_blank">
                                <i class="fa fa-external-link" aria-hidden="true"></i> Ole Steiner</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
