<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <title>snookertimer</title>
    <script defer="defer" src="/static/js/chunk-vendors.a4680926.js"></script>
    <script defer="defer" src="/static/js/app.76350e5d.js"></script>
    <link href="/static/css/app.8f3826a0.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but snookertimer doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
5
<div id="app"></div>
</body>
</html>