{% extends 'base.html.twig' %}

{% block title %}Mannschaften
{% endblock %}

{% block body %}
	<!-- team pictures: 250x400, action pictures: 267x200-->
	<div class="club">
		<div class="container main-container">
			<div class="row">
				<div class="col-12 mt-4">
					<h1>Mannschaften 2024/25</h1>

					<h3>SC147 I (<a href="https://bbv-billard.liga.nu/cgi-bin/WebObjects/nuLigaBILLARDDE.woa/wa/groupPage?championship=BBV+Snooker+24%2F25&group=721" target="bbvliga">Oberliga</a>)</h3>

					<div class="row">
						<ul>
							<li>Felix S.</li>
							<li>Florian K.</li>
							<li>Felix B.</li>
							<li>Muaz K.</li>
						</ul>
					</div>

					<h3>SC147 II (<a href="https://bbv-billard.liga.nu/cgi-bin/WebObjects/nuLigaBILLARDDE.woa/wa/groupPage?championship=BBV+Snooker+24%2F25&group=762" target="bbvliga">Verbandsliga S&uuml;d</a>)</h3>

					<div class="row">
						<img class="img-fluid" alt="Mannschaft SC147 II, 2024/25" src="/images/teams/2024_25/sc147_2_2024-25_800x268.jpg"/>
						<br/><small>Markus K., Richard B., Ciprian B.</li>
						</ul>
					</div>

					<h3>SC147 III (<a href="https://bbv-billard.liga.nu/cgi-bin/WebObjects/nuLigaBILLARDDE.woa/wa/groupPage?championship=BBV+Snooker+24%2F25&group=724" target="bbvliga">Landesliga S&uuml;d</a>)</h3>

					<div class="row">
						<ul>							
							<li>Alexander M.</li>
							<li>Daniel M.</li>							
							<li>Martin Be.</li>
							<li>Peter L.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
