{% extends 'base.html.twig' %}

{% block title %}Mannschaften
{% endblock %}

{% block body %}
	<!-- team pictures: 250x400, action pictures: 267x200-->
	<div class="club">
		<div class="container main-container">
			<div class="row">
				<div class="col-12 mt-4">
					<h1>Mannschaften</h1>
					<p>In der Saison 2021/22 stellt der SC147 ingesamt drei Mannschaften in der Bayernliga und der Bezirksliga.</p>

					<h3>1. Mannschaft (<a href="https://bbv.billardarea.de/cms_leagues/plan/7668/10107" target="liga">Bayernliga)</a>
					</h3>

					<div class="row">
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/felix_s_250x250.jpg" alt="Felix S."/>
								<h4>Felix S.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/florian_k_250x250.jpg" alt="Florian K."/>
								<h4>Florian K.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/stanislav_s_250x250.jpg" alt="Stanislav S."/>
								<h4>Stanislav S.</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/markus_k_250x250.jpg" alt="Markus K."/>
								<h4>Markus K.</h4>
							</div>
						</div>
						<div class="col">
							&nbsp;
						</div>
						<div class="col">
							&nbsp;
						</div>
					</div>

					<h3>2. Mannschaft (<a href="https://bbv.billardarea.de/cms_leagues/plan/7718/10174" target="liga">Bezirksliga Süd 1)</a>
					</h3>

					<div class="row">
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/robert_g_250x250.jpg" alt="Robert G."/>
								<h4>Robert G.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/richard_b_250x250.jpg" alt="Richard B."/>
								<h4>Richard B.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/uli_k_250x250.jpg" alt="Uli K."/>
								<h4>Uli K.</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/rudolf_b_250x250.jpg" alt="Rudolf B."/>
								<h4>Rudi B.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/thomas_f_250x250.jpg" alt="Thomas F."/>
								<h4>Thomas F.</h4>
							</div>
						</div>
						<div class="col">
							&nbsp;
						</div>
					</div>

					<h3>3. Mannschaft (<a href="https://bbv.billardarea.de/cms_leagues/plan/7718/10175" target="liga">Bezirksliga Süd 2)</a>
					</h3>

					<div class="row">
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/peter_l_250x250.jpg" alt="Peter L."/>
								<h4>Peter L.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/felix_b_250x250.jpg" alt="Felix B."/>
								<h4>Felix B.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/christian_l_250x250.jpg" alt="Christian L."/>
								<h4>Christian L.</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/martin_b_250x250.jpg" alt="Martin B."/>
								<h4>Martin B.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/klaus_r_250x250.jpg" alt="Klaus R."/>
								<h4>Klaus R.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="img-fluid" src="/images/teams/2021_22/peter_s_250x250.jpg" alt="Peter S."/>
								<h4>Peter S.</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
