{% extends 'base.html.twig' %}

{% block title %}Mannschaften
{% endblock %}

{% block body %}
	<!-- team pictures: 250x400, action pictures: 267x200-->
	<div class="club">
		<div class="container main-container">
			<div class="row">
				<div class="col-12 mt-4">
					<h1>Mannschaften 2025/26</h1>

					<div class="row">
						<div class="col-12 mt-4">
							<h3>SC147 I (<a href="https://bbv-billard.liga.nu/cgi-bin/WebObjects/nuLigaBILLARDDE.woa/wa/groupPage?championship=BBV+Snooker+25%2F26&group=1081" target="bbvliga">Oberliga</a>)</h3>
							<img src="/images/teams/2025_26/sc147_1_2025-26.jpg" alt="Mannschaft SC 147 I 2025/26" >
							<br/>Felix S., Florian I., Felix B. - (nicht im Bild:, Aly H.)
						</div>

						<div class="col-12 mt-4">
							<h3>SC147 II (<a href="https://bbv-billard.liga.nu/cgi-bin/WebObjects/nuLigaBILLARDDE.woa/wa/groupPage?championship=BBV+Snooker+25%2F26&group=1083" target="bbvliga">Verbandsliga S&uuml;d</a>)</h3>
							<img src="/images/teams/2025_26/sc147_2_2025-26.jpg" alt="Mannschaft SC 147 II 2025/26" >
							<br/>Richard B., Markus K., Ciprian B. - (nicht im Bild: Amir G.)
						</div>

						<div class="col-12 mt-4">
							<h3>SC147 III (<a href="https://bbv-billard.liga.nu/cgi-bin/WebObjects/nuLigaBILLARDDE.woa/wa/groupPage?championship=BBV+Snooker+25%2F26&group=1085" target="bbvliga">Landesliga S&uuml;d</a>)</h3>
							<img src="/images/teams/2025_26/sc147_3_2025-26.jpg" alt="Mannschaft SC 147 III 2025/26" >
							<br/>Alexander M., Daniel M., Martin Be., Francesco Di C.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
