{% extends 'base.html.twig' %}

{% block title %}Mannschaften{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-lg-7 mt-4">
                    <h2>Mannschaften</h2>

                    <p>In der Saison 2020/21 stellt der SC147 jeweils eine Mannschaft in 
                        <a target="bezirksliga" href="http://bbv.billardarea.de/cms_leagues/plan/7131/9444">Bezirksliga</a> und 
                        <a target="bezirksliga" href="http://bbv.billardarea.de/cms_leagues/plan/7084/9381">Verbandsliga</a>.
                    </p>

                    <h2>Spieler</h2>

                    <div class="featured-green">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid"
                                        src="/images/teams/felix_s.jpg"
                                        alt="Felix S."/>
                            </div>
                            <div class="col">
                                <h4>Felix S.</h4>
                                <ul>
                                    <li>
                                        <strong>Nickname:</strong> Slowhand
                                    </li>
                                    <li>
                                        <strong>H&ouml;chstes Break:</strong> 42
                                    </li>
                                    <li>
                                        <strong>Club-Mitglied:</strong> seit 2017
                                    </li>
                                    <li>
                                        <strong>Andere Hobbies:</strong>
                                        <br/>Probability Essentials
                                    </li>
                                </ul>
                                <img class="img-fluid" src="/images/teams/felix_s_action.jpg"/>
                            </div>
                        </div>
                    </div>

                    <div class="featured-green">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid"
                                        src="/images/teams/florian_k.jpg"
                                        alt="Florian K."/>
                            </div>
                            <div class="col">
                                <h4>Florian K.</h4>
                                <ul>
                                    <li>
                                        <strong>Nickname:</strong> Backdraw
                                    </li>
                                    <li>
                                        <strong>H&ouml;chstes Break:</strong> -
                                    </li>
                                    <li>
                                        <strong>Club-Mitglied:</strong> seit 2019
                                    </li>
                                    <li>
                                        <strong>Andere Hobbies:</strong>
                                        <br/>Fu&szlig;ball
                                    </li>
                                </ul>
                                <img class="img-fluid" src="/images/teams/florian_k_action.jpg"/>
                            </div>
                        </div>
                    </div>

                    <div class="featured-green">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid"
                                        src="/images/teams/klaus_r.jpg"
                                        alt="Klaus R."/>
                            </div>
                            <div class="col">
                                <h4>Klaus R.</h4>
                                <ul>
                                    <li>
                                        <strong>Nickname:</strong> Firmhand
                                    </li>
                                    <li>
                                        <strong>H&ouml;chstes Break:</strong> -
                                    </li>
                                    <li>
                                        <strong>Club-Mitglied:</strong> seit 2017
                                    </li>
                                    <li>
                                        <strong>Andere Hobbies:</strong>
                                        <br/>Tanzsport
                                    </li>
                                </ul>
                                <img class="img-fluid" src="/images/teams/klaus_r_action.jpg"/>
                            </div>
                        </div>
                    </div>

                    <div class="featured-green">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid"
                                        src="/images/teams/markus_k.jpg"
                                        alt="Markus K."/>
                            </div>
                            <div class="col">
                                <h4>Markus K.</h4>
                                <ul>
                                    <li>
                                        <strong>Nickname:</strong> Lucky Duck
                                    </li>
                                    <li>
                                        <strong>H&ouml;chstes Break:</strong> -
                                    </li>
                                    <li>
                                        <strong>Club-Mitglied:</strong> seit 2019
                                    </li>
                                    <li>
                                        <strong>Andere Hobbies:</strong>
                                        <br/>Schafkopf
                                    </li>
                                </ul>
                                <img class="img-fluid" src="/images/teams/markus_k_action.jpg"/>
                            </div>
                        </div>
                    </div>

                    <div class="featured-green">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid"
                                        src="/images/teams/peter_l.jpg"
                                        alt="Peter L."/>
                            </div>
                            <div class="col">
                                <h4>Peter L.</h4>
                                <ul>
                                    <li>
                                        <strong>Nickname:</strong> Masterfluke
                                    </li>
                                    <li>
                                        <strong>H&ouml;chstes Break:</strong> -
                                    </li>
                                    <li>
                                        <strong>Club-Mitglied:</strong> seit 2016
                                    </li>
                                    <li>
                                        <strong>Andere Hobbies:</strong>
                                        <br/>Italia
                                    </li>
                                </ul>
                                <img class="img-fluid" src="/images/teams/peter_l_action.jpg"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="featured-green">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid"
                                        src="/images/teams/richard_b.jpg"
                                        alt="Richard B."/>
                            </div>
                            <div class="col">
                                <h4>Richard B.</h4>
                                <ul>
                                    <li>
                                        <strong>Nickname:</strong> Topspin
                                    </li>
                                    <li>
                                        <strong>H&ouml;chstes Break:</strong> -
                                    </li>
                                    <li>
                                        <strong>Club-Mitglied:</strong> seit 2020
                                    </li>
                                    <li>
                                        <strong>Andere Hobbies:</strong>
                                        <br/>Tischtennis
                                    </li>
                                </ul>
                                <!-- img class="img-fluid" src="/images/teams/richard_b_action.jpg"/ -->
                            </div>
                        </div>
                    </div>

                    <div class="featured-green">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid"
                                        src="/images/teams/robert_g.jpg"
                                        alt="Robert G."/>
                            </div>
                            <div class="col">
                                <h4>Robert G.</h4>
                                <ul>
                                    <li>
                                        <strong>Nickname:</strong> Berserk
                                    </li>
                                    <li>
                                        <strong>H&ouml;chstes Break:</strong> -
                                    </li>
                                    <li>
                                        <strong>Club-Mitglied:</strong> seit 2020
                                    </li>
                                    <li>
                                        <strong>Andere Hobbies:</strong>
                                        <br/>Bergsport
                                    </li>
                                </ul>
                                <img class="img-fluid" src="/images/teams/robert_g_action.jpg"/>
                            </div>
                        </div>
                    </div>

                    <div class="featured-green">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid"
                                        src="/images/teams/uli_k.jpg"
                                        alt="Uli K."/>
                            </div>
                            <div class="col">
                                <h4>Uli K.</h4>
                                <ul>
                                    <li>
                                        <strong>Nickname:</strong> Pokerface
                                    </li>
                                    <li>
                                        <strong>H&ouml;chstes Break:</strong> -
                                    </li>
                                    <li>
                                        <strong>Club-Mitglied:</strong> seit 2019
                                    </li>
                                    <li>
                                        <strong>Andere Hobbies:</strong>
                                        <br/>?
                                    </li>
                                </ul>
                                <!-- img class="img-fluid" src="/images/teams/uli_k_action.jpg"/ -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
