{% extends 'base.html.twig' %}

{% block title %}Mannschaften
{% endblock %}

{% block body %}
	<!-- team pictures: 250x400, action pictures: 267x200-->
	<div class="club">
		<div class="container main-container">
			<div class="row">
				<div class="col-12 mt-4">
					<h1>Mannschaften</h1>
					<p>In der Saison 2022/23 stellt der SC147 drei Mannschaften.</p>

					<h3>SC147 I (<a target="liga" href="https://bbv-billard.liga.nu/cgi-bin/WebObjects/nuLigaBILLARDDE.woa/wa/groupPage?championship=BBV+Snooker+22%2F23&group=4">Verbandsliga S&uuml;d</a>)</h3>

					<div class="row">
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/felix_s_250x250.jpg" alt="Felix S."/>
								<h4>Felix S.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/florian_k_250x250.jpg" alt="Florian K."/>
								<h4>Florian K.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/uli_k_250x250.jpg" alt="Uli K."/>
								<h4>Uli K.</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/stefan_s_250x250.jpg" alt="Stefan S."/>
								<h4>Stefan S.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/rudolf_b_250x250.jpg" alt="Rudi B."/>
								<h4>Rudi B.</h4>
							</div>
						</div>
					</div>

					<h3>SC147 II (<a target="liga" href="https://bbv-billard.liga.nu/cgi-bin/WebObjects/nuLigaBILLARDDE.woa/wa/groupPage?championship=BBV+Snooker+22%2F23&group=4">Verbandsliga S&uuml;d</a>)</h3>

					<div class="row">
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/markus_k_250x250.jpg" alt="Markus K."/>
								<h4>Markus K.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/richard_b_250x250.jpg" alt="Richard B."/>
								<h4>Richard B.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/ciprian_b_250x250.jpg" alt="Ciprian B."/>
								<h4>Ciprian B.</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/michail_h_250x250.jpg" alt="Michail H."/>
								<h4>Michail H.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/thomas_l_250x250.jpg" alt="Thomas L."/>
								<h4>Thomas L.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/robert_g_250x250.jpg" alt="Robert G."/>
								<h4>Robert G.</h4>
							</div>
						</div>
					</div>

					<h3>SC147 III (<a target="liga" href="https://bbv-billard.liga.nu/cgi-bin/WebObjects/nuLigaBILLARDDE.woa/wa/groupPage?championship=BBV+Snooker+22%2F23&group=102">Landesliga S&uuml;d</a>)</h3>

					<div class="row">
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/martin_b_250x250.jpg" alt="Martin B."/>
								<h4>Martin B.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/felix_b_250x250.jpg" alt="Felix B."/>
								<h4>Felix B.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/peter_l_250x250.jpg" alt="Peter L."/>
								<h4>Peter L.</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/christian_l_250x250.jpg" alt="Christian L."/>
								<h4>Christian L.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/lucas_e_250x250.jpg" alt="Lucas E."/>
								<h4>Lucas E.</h4>
							</div>
						</div>
						<div class="col">
							<div class="featured-green team_member">
								<img class="rounded" style="max-width:150px" src="/images/teams/2022_23/suman_r_250x250.jpg" alt="Suman R."/>
								<h4>Suman R.</h4>
							</div>
						</div>
					</div>

					<h3>SC147 All-Star-Team</h3>

					<div class="row">
						<div class="col">
							<div class="team_member">
								<img class="rounded" style="max-width:110px" src="/images/teams/2022_23/markus_k_250x250.jpg" alt="Markus K."/>
								<h5>Markus K.</h5>
							</div>
						</div>
						<div class="col">
							<div class="team_member">
								<img class="rounded" style="max-width:110px" src="/images/teams/2022_23/peter_l_250x250.jpg" alt="Peter L."/>
								<h5>Peter L.</h5>
							</div>
						</div>
						<div class="col">
							<div class="team_member">
								<img class="rounded" style="max-width:110px" src="/images/teams/2022_23/rudolf_b_250x250.jpg" alt="Rudi B."/>
								<h5>Rudi B.</h5>
							</div>
						</div>
						<div class="col">
							<div class="team_member">
								<img class="rounded" style="max-width:110px" src="/images/teams/2022_23/uli_k_250x250.jpg" alt="Uli K."/>
								<h5>Uli K.</h5>
							</div>
						</div>
						<div class="col">
							<div class="team_member">
								<img class="rounded" style="max-width:110px" src="/images/teams/2022_23/stefan_s_250x250.jpg" alt="Stefan S."/>
								<h5>Stefan S.</h5>
							</div>
						</div>
					</div>

					<h3>SC147 All-Star-Team 2</h3>

					<div class="row">
						<div class="team_member">
							<img class="rounded" style="max-width:110px" src="/images/teams/2022_23/stefan_s_250x250.jpg" alt="Stefan S."/>
							<h4>Felix S.</h4>
						</div>
						<div class="team_member">
							<img class="rounded" style="max-width:110px" src="/images/teams/2022_23/stefan_s_250x250.jpg" alt="Stefan S."/>
							<h4>Florian K.</h4>
						</div>
						<div class="team_member">
							<img class="rounded" style="max-width:110px" src="/images/teams/2022_23/stefan_s_250x250.jpg" alt="Stefan S."/>
							<h4>Felix B.</h4>
						</div>
						<div class="team_member">
							<img class="rounded" style="max-width:110px" src="/images/teams/2022_23/stefan_s_250x250.jpg" alt="Stefan S."/>
							<h5>Uli K.</h5>
						</div>
						<div class="team_member">
							<img class="rounded" style="max-width:110px" src="/images/teams/2022_23/stefan_s_250x250.jpg" alt="Stefan S."/>
							<h5>Stefan S.</h5>
						</div>
						<div class="team_member">
							<img class="rounded" style="max-width:110px" src="/images/teams/2022_23/stefan_s_250x250.jpg" alt="Stefan S."/>
							<h5>Ciprian B.</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
