{% extends 'base.html.twig' %}

{% block title %}Mannschaften
{% endblock %}

{% block body %}
	<!-- team pictures: 250x400, action pictures: 267x200-->
	<div class="club">
		<div class="container main-container">
			<div class="row">
				<div class="col-lg-7 mt-4">
					<h2>Mannschaften</h2>

					<p>In der Saison 2021/22 stellt der SC147 drei Mannschaft in Bezirksliga und Verbandsliga
					</p>
				</a>.
			</p>

			<h3>1. Mannschaft</h3>

			<div class="row">
				<div class="col">
					<div class="featured-green">
						<img class="img-fluid" src="/images/teams/felix_s.jpg" alt="Felix S."/>
						<h4>Felix S.</h4>
						<ul>
							<li><strong>Nickname:</strong> Slowhand</li>
							<li><strong>H&ouml;chstes Break:</strong> 42</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}