{% extends 'base.html.twig' %}

{% block title %}Mannschaften
{% endblock %}

{% block body %}
	<!-- team pictures: 250x400, action pictures: 267x200-->
	<div class="club">
		<div class="container main-container">
			<div class="row">
				<div class="col-12 mt-4">
					<h1>Mannschaften 2023/24</h1>

					<h3>SC147 I (Verbandsliga S&uuml;d)</h3>

					<div class="row">
						<div class="col">
							<h4>Felix S.</h4>
						</div>
						<div class="col">
							<h4>Florian K.</h4>
						</div>
						<div class="col">
							<h4>Uli K.</h4>
						</div>
						<div class="col">
							<h4>Felix B.</h4>
						</div>
						<div class="col">
							<h4>Philipp F.</h4>
						</div>
					</div>

					<h3>SC147 II (Verbandsliga S&uuml;d)</h3>

					<div class="row">
						<div class="col">
							<h4>Markus K.</h4>
						</div>
						<div class="col">
							<h4>Richard B.</h4>
						</div>
						<div class="col">
							<h4>Ciprian B.</h4>
						</div>
						<div class="col">
							<h4>Thomas L.</h4>
						</div>
					</div>

					<h3>SC147 III (Landesliga S&uuml;d)</h3>

					<div class="row">
						<div class="col">
							<h4>Peter L.</h4>
						</div>
						<div class="col">
							<h4>Alexander M.</h4>
						</div>
						<div class="col">
							<h4>Daniel M.</h4>
						</div>
						<div class="col">
							<h4>Suman R.</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
