{% extends 'base.html.twig' %}

{% block title %}Training
{% endblock %}

{% block body %}
	<div class="club">
		<div class="container main-container">
			<div class="row">
				<div class="col-lg-7 col-12 mt-3">
					<h1>Training</h1>
					<p>
						Bei uns bekommst Du die Möglichkeit, Dein Spiel zu verbessern oder zu verfeinern.
					</p>

					<div class="featured-green">
						<h4>Mannschaftstraining mit Markus Kraus</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid" style="width: 100%" src="/images/markuskraus.jpg" alt="Markus Kraus"/>
							</div>
							<div class="col-lg-7">
								<p>
									Einmal pro Woche trainiert Markus (2. Mannschaft) die 3. Mannschaft. Das Training
									hat einen technischen Fokus und geht jeweils gezielt auf eine Technik oder 
									eine Standardsituation ein. 
									Freie Plätze können anderen Mitgliedern eingenommen werden.
								</p>
							</div>
						</div>
					</div>

					<div class="featured-green">
						<h4>Jugendtraining mit Felix Schweikl</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid" style="width: 100%" src="/images/felixschweikl.jpg" alt="Felix Schweickl"/>
							</div>
							<div class="col-lg-7">
								<p>
									Felix (1. Mannschaft) trainiert jeden Dienstag unsere U15 Spieler.
								</p>
								<p>
									Der ehemalige Bayernligaspieler schult Technik und Spielverst&auml;ndnis 
									bei den Nachwuchsspielern des SC147.
								</p>
							</div>
						</div>
					</div>

					<div class="featured-green">
						<h4>Breitensporttraining mit Peter Lux</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid" style="width: 100%" src="/images/peterlux.jpg" alt="Peter Lux"/>
							</div>
							<div class="col-lg-7">
								<p>
									Mittwochabends bietet Peter (3. Mannschaft) je nach Teilnehmerzahl im 1. OG 
									oder im Souterrain Breitensporttraining für Einsteiger an. Es gibt Informationen 
									&uuml;ber Material, Regeln und Gepflogenheiten. Clubneulinge bekommen erste Hilfestellungen zum Spiel.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-5 mt-4">
					<h2>Ausstattung</h2>
					<ul class="list-group list-group-flush list-box">
						<li class="list-group-item">
							<h4>Trainingsort</h4>
							<p>
								Mannschaftstraining parallel auf beiden Tischen im Souterrain, 
								                                Einzeltraining i. d. R. auf dem Tisch im Obergeschoss.
							</p>
						</li>
						<li class="list-group-item">
							<h4>Trainingszeiten</h4>
							<p>
								1.Mannschaft: Mo, 19:15-20:30<br/>
								Jugend: Di, 16:00-17:00<br/>
								Breitensport: i.d.R. mittwochs<br/>
								2.Mannschaft: Do, 19:00-20:15<br/>
								3.Mannschaft: Do, 20:15-21:30
							</p>
						</li>
						<li class="list-group-item">
							<h4>Training Events</h4>
							<p>
								Nach Möglichkeit bieten wir in unseren Clubräumen 
                                zusätzlich einzelne Trainingsstunden mit renommierten 
                                Trainern an.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
