{% extends 'base.html.twig' %}

{% block title %}Training
{% endblock %}

{% block body %}
	<div class="club">
		<div class="container main-container">
			<div class="row">
				<div class="col-lg-7 col-12 mt-3">
					<h2>Training</h2>
					<p>
						Bei uns bekommst Du die Möglichkeit, Dein Spiel zu verbessern oder zu verfeinern.
					</p>

					<div class="featured-green">
						<h4>Mannschaftstraining mit Stanislav Shuminov</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid " style="width: 100%" src="/images/stanislavshuminov.png" alt="Stanislav Stanislav"/>
							</div>
							<div class="col-lg-7">
								<p>
									Das Training der 1. Mannschaft ist bis auf weiteres ausgesetzt.
									<!-- 
                                        Einmal im Monat trainiert Stanislav  
                                        im Souterrain die 1. Mannschaft des SC147 in
                                        einer Kombination aus Team- und Individual-Training. 
                                        In den anderen Wochen trainiert die 1. Mannschaft 
                                        montags um 19:15 unter der Leitung eines
                                        Mannschaftsmitglieds. Freie Plätze können 
                                        von der 2. Mannschaft eingenommen werden. 
                                    -->
								</p>
							</div>
						</div>
					</div>

					<div class="featured-green">
						<h4>Mannschaftstraining mit Markus Kraus</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid" style="width: 100%" src="/images/markuskraus.jpg" alt="Markus Kraus"/>
							</div>
							<div class="col-lg-7">
								<p>
									Das Training der 2. Mannschaft ist bis zur Wiederaufnahme des 
									Spielbetriebs ausgesetzt bzw. findet nur nach Vereinbarung statt.
									<!-- 
                                        Jeden Donnerstag um 19:00 trainiert Markus die 2. Mannschaft. Das Training
									    hat einen technischen Fokus und geht jeweils gezielt auf eine Technik oder 
									    eine Standardsituation ein. 
    									Freie Plätze können von Ersatzspielern der 2. Mannschaft wahrgenommen werden.
                                    -->
								</p>
							</div>
						</div>
					</div>

					<div class="featured-green">
						<h4>Breitensporttraining mit Peter Lux</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid" style="width: 100%" src="/images/peterlux.jpg" alt="Peter Lux"/>
							</div>
							<div class="col-lg-7">
								<p>
                                    Das Breitensporttraining pausiert bis auf weiteres.
                                    <!--
									Mittwochabends bietet Peter nach Absprache im 1. OG ein Breitensporttraining für 
									                                    Einsteiger und Interessenten an. Es gibt Informationen über Material, 
									                                    Regeln und Gepflogenheiten. Clubneulinge bekommen erste Hilfestellungen zum Spiel.
                                    -->
								</p>
							</div>
						</div>
					</div>

					<div class="featured-green">
						<h4>Jugendtraining mit Felix Schweikl</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid" style="width: 100%" src="/images/felixschweikl.jpg" alt="Felix Schweickl"/>
							</div>
							<div class="col-lg-7">
								<p>
									Florian und Felix initierten 2021 das Jugendtraining. 
									                                    Im August 2021 übernahm Aaron das Training mit individueller 
									                                    Förderung einzelner Spieler.<br>
									Aktuell trainiert Felix jeden Dienstag unsere U15 Spieler 
									                                    (Slowhand meets Flohzirkus).
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-5 mt-4">
					<h2>Ausstattung</h2>
					<ul class="list-group list-group-flush list-box">
						<li class="list-group-item">
							<h4>Trainingsort</h4>
							<p>
								Mannschaftstraining parallel auf beiden Tischen im Souterrain, 
								                                Einzeltraining i. d. R. auf dem Tisch im Obergeschoss.
							</p>
						</li>
						<li class="list-group-item">
							<h4>Trainingszeiten</h4>
							<p>
								1.Mannschaft: Mo, 19:15-20:30 (z.Zt. ausges.)<br/>
								2.Mannschaft: Do, 19:00-20:15 (z.Zt. ausges.)<br/>
								Breitensport: nach Absprache (z.Zt. ausges.)<br/>
								Jugend: Di, 15:00-16:00
							</p>
						</li>
						<li class="list-group-item">
							<h4>Training Events</h4>
							<p>
								Nach Möglichkeit bieten wir in unseren Clubräumen 
                                zusätzlich einzelne Trainingsstunden mit renommierten 
                                Trainern an.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
