{% extends 'base.html.twig' %}

{% block title %}Training
{% endblock %}

{% block body %}
	<div class="club">
		<div class="container main-container">
			<div class="row">
				<div class="col-lg-7 col-12 mt-3">
					<h1>Training</h1>

					<div class="featured-green">
						<h4>Sichtungstraining f&uuml;r Nachwuchsspieler</h4>
						<div class="row">
							<div class="col-lg-12">
<p>
Der Snookerclub 147 M&uuml;nchen e. V. veranstaltet am <strong>Freitag, 24. Januar 2025, 
von 15:00 Uhr bis 17:00 Uhr</strong> ein Sichtungstraining f&uuml;r Nachwuchsspieler 
der Jahrgänge 2011 bis 2014. Der Sichtungstag findet in den Vereinsr&auml;umen 
des SC147 statt. 
</p>
<p>
Vorkenntnisse in Snooker oder anderen Billardvarianten sind hilfreich, werden 
aber nicht vorausgesetzt. Queues werden gestellt. Eine Spielerin und ein 
Spieler k&ouml;nnen jeweils 10 kostenlose Teilnahmen am Jugendtraining 
und/oder Fortbildungsveranstaltungen im SC147 gewinnen.
</p>
<p>
Die Teilnehmerzahl ist auf 10 Jungen und M&auml;dchen begrenzt. Die Anmeldung 
f&uuml;r das Sichtungstraining erfolgt per E-Mail an 
<a href="mailto:info@sc147.de?subject=Sichtungstraining 2025">info@sc147.de</a> 
mit Betreff &quot;Sichtungstraining 2025&quot; und folgenden Angaben:
</p>
<strong>Teilnehmer:</strong>
<ul>
	<li>Vorname und Name</li>
	<li>Jahrgang</li>
	<li>Wohnort</li>
</ul>
<strong>Erziehungsberechtigte:</strong>
<ul>
	<li>Vorname und Name</li>
	<li>Adresse</li>
	<li>Telefon</li>
</ul>
<p>
Anmeldeschluss ist der 21. Januar 2025.
</p>
							</div>
						</div>
					</div>

					<div class="featured-green">
						<h4>Jugendtraining mit Florian Kapfhammer</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid" style="width: 100%" src="/images/florian_k_250x300.jpg" alt="Florian Kapfhammer"/>
							</div>
							<div class="col-lg-7">
								<p>
									Dienstags bildet Florian unsere U15 Spieler aus.
								</p>
								<p>
									Der Oberligaspieler und amtierende Deutsche U21 Vizemeister schult 
									Technik und Spielverst&auml;ndnis bei den Nachwuchsspielern des SC147.
								</p>
							</div>
						</div>
					</div>

					<div class="featured-green">
						<h4>Mannschaftstraining mit Markus Kraus</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid" style="width: 100%" src="/images/markuskraus.jpg" alt="Markus Kraus"/>
							</div>
							<div class="col-lg-7">
								<p>
									Donnerstags trainiert Markus die 2. Mannschaft. 
								</p>
								<p>
									Der Mannschaftskapit&auml;n geht jeweils gezielt 
									auf eine Technik oder eine Standardsituation ein. 
									Freie Plätze können von anderen Mitgliedern eingenommen werden.
								</p>
							</div>
						</div>
					</div>

					<div class="featured-green">
						<h4>Breitensporttraining mit Peter Lux</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid" style="width: 100%" src="/images/peterlux.jpg" alt="Peter Lux"/>
							</div>
							<div class="col-lg-7">
								<p>
									Mittwochs bietet Peter ein Breitensporttraining.
								</p>
								<p>
									Der langj&auml;hrige Vorstand des SC147 erl&auml;utert &Uuml;bungen zum 
									verfeinerten Spiel f&uuml;r Hobbyspieler. Clubneulinge lernen erste 
									Grundlagen zu Material, Regeln und Gepflogenheiten im Snooker. 
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-5 mt-4">
					<ul class="list-group list-group-flush list-box">
						<li class="list-group-item">
							<h4>Trainingsort</h4>
							<p>
								SC147, Klausnerring 15, Heimstetten - parallel auf beiden Tischen im Souterrain. 
							</p>
						</li>
						<li class="list-group-item">
							<h4>Trainingszeiten</h4>
							<p>
								Jugendtraining: Di., 18:00-19:00<br/>
								Breitensport: Mi., 18:00 - 19:00<br/>
								1. Mannschaft: Di., 19:00 - 20:00<br/>
								2. Mannschaft: Do., 19:30 - 20:45<br/>
							</p>
						</li>
						<li class="list-group-item">
							<h4>Training Events</h4>
							<p>
								Mindestens 1x pro Jahr bieten wir in unseren Clubr&auml;umen 
                                zus&auml;tzlich Trainingsstunden mit einem renommierten 
                                World Snooker Coach an.
							</p>
						</li>
						<li class="list-group-item">
							<h4>&Uuml;bungen</h4>
							<p>Im Club liegen "PAT Snooker" Band 1 und 2 aus. Online findet man vieles, u. a. ein
							   <a href="http://www.freeball.sk/images/stories/junior%20training%20program.pdf" target="snookertraining">Junior Training Program</a> (PDF)
							   oder diverse Videos von
							   <a href="https://www.youtube.com/@BartonSnooker" target="snookertraining">Barton Snooker</a>.
							</p>
						</li>					
						<li class="list-group-item">
							<h4>Regeln</h4>
							<p>Snookerregeln findet Ihr bei unter
							   <a href="https://www.snookerregeln.de/spiel" target="snookerrules">snookerregeln.de</a> 
							   oder bei der
							   <a href="http://portal.billardarea.de/img/cms/clients/1/files/Spielregeln%20Snooker%2005_2020_V3.pdf" target="snookerrules">Deutschen Billard Union</a> (PDF).
							</p>
						</li>					
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
