{% extends 'base.html.twig' %}

{% block title %}Training
{% endblock %}

{% block body %}
	<div class="club">
		<div class="container main-container">
			<div class="row">
				<div class="col-lg-7 col-12 mt-3">
					<h1>Training</h1>

					<div class="featured-green">
						<h4>Mannschaftstraining mit Florian Kapfhammer</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid" style="width: 100%" src="/images/florian_k_250x300.jpg" alt="Florian Kapfhammer"/>
							</div>
							<div class="col-lg-7">
								<p>
									Florian trainiert die 2. Mannschaft.
								</p>
								<p>
									Der Oberligaspieler und Bayrische U21 Meister 2024 
									schult Technik und Spielverst&auml;ndnis bei den 
									Verbandsligaspielern des SC147.
								</p>
							</div>
						</div>
					</div>

					<div class="featured-green">
						<h4>Mannschaftstraining mit Markus Kraus</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid" style="width: 100%" src="/images/markuskraus.jpg" alt="Markus Kraus"/>
							</div>
							<div class="col-lg-7">
								<p>
									Mittwochs trainiert Markus die 3. Mannschaft. 
								</p>
								<p>
									Der Mannschaftskapit&auml;n der 2. Mannschaft geht jeweils gezielt 
									auf eine Technik oder eine Standardsituation ein. 
									Freie Plätze können von anderen Mitgliedern eingenommen werden.
								</p>
							</div>
						</div>
					</div>

					<div class="featured-green">
						<h4>Breitensporttraining mit Markus Kraus</h4>
						<div class="row">
							<div class="col-lg-5 col-12">
								<img class="img-fluid" style="width: 100%" src="/images/markuskraus.jpg" alt="Markus Kraus"/>
							</div>
							<div class="col-lg-7">
								<p>
									Mittwochs bietet Markus ein Breitensporttraining an.
								</p>
								<p>
									&Uuml;bungen zum verfeinerten Spiel f&uuml;r Hobbyspieler. 
									Clubneulinge lernen erste Grundlagen, Regeln und Gepflogenheiten im Snooker. 
									Einstieg ist jederzeit auch w&auml;hrend der Saison m&ouml;glich. 
									Regelm&auml;&szlig;ige Teilnahme ist optional.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-5 mt-4">
					<ul class="list-group list-group-flush list-box">
						<li class="list-group-item">
							<h4>Trainingsort</h4>
							<p>
								SC147, Klausnerring 15, Heimstetten - parallel auf beiden Tischen im Souterrain. 
							</p>
						</li>
						<li class="list-group-item">
							<h4>Trainingszeiten</h4>
							<p>
								1. Mannschaft: Di., 19:00 - 20:00<br/>
								2. Mannschaft: Do., 17:30 - 19:00<br/>
								3. Mannschaft: Mi., 17:45 - 19:00<br/>
								Breitensport: Mi., 19:15 - 21:00<br/>
							</p>
						</li>
						<li class="list-group-item">
							<h4>Training Events</h4>
							<p>
								Mindestens 1x pro Jahr bieten wir in unseren Clubr&auml;umen 
                                zus&auml;tzlich Trainingsstunden mit einem renommierten 
                                World Snooker Coach an.
							</p>
						</li>
						<li class="list-group-item">
							<h4>&Uuml;bungen</h4>
							<p>Im Club liegen "PAT Snooker" Band 1 und 2 aus. Online findet man vieles, u. a. diverse Videos von
							   <a href="https://www.youtube.com/@BartonSnooker" target="snookertraining">Barton Snooker</a>.
							</p>
						</li>					
						<li class="list-group-item">
							<h4>Regeln</h4>
							<p>Snookerregeln findet Ihr bei unter
							   <a href="https://www.snookerregeln.de/spiel" target="snookerrules">snookerregeln.de</a> 
							   oder bei der
							   <a href="http://portal.billardarea.de/img/cms/clients/1/files/Spielregeln%20Snooker%2005_2020_V3.pdf" target="snookerrules">Deutschen Billard Union</a> (PDF).
							</p>
						</li>					
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
