{% extends 'base.html.twig' %}

{% block title %}Willkommen{% endblock %}

{% block body %}
    <div class="map">
        <div class="container main-container">
            <div class="row">
                <div class="col-lg-7 mt-4">
                    <h1>Willkommen</h1>
                    
                    <p>
                        Ihr seid leidenschaftliche Snookerspieler oder habt Interesse dieses faszinierende Spiel zu erlernen? 
                        Der Snookerclub 147 München e. V. öffnet seine Türen für neue Mitglieder.
                    </p>

                    <div class="mt-4">
                        <h3>Warum Snooker?</h3>
                        <ul>
                            <li>Bewegung und Körperbeherrschung</li>
                            <li>Konzentration und Gedächtnistraining</li>
                            <li>mit Würde gewinnen, mit Anstand verlieren</li>
                            <li>ein Sport fürs Leben - vom Kind bis ins Senionalter</li>
                        </ul>
                    </div>

                    <div class="mt-4">
                        <h3>Warum im SC147?</h3>
                        <ul>   
                            <li>24 x 7 geöffnet <sup>*</sup></li>
                            <li>Modern ausgestattete Snookertische</li>
                            <li>Freundliche Atmosphäre und regelmäßige Clubevents</li>
                            <li>Trainingseinheiten für Anfänger und Fortgeschrittene</li>
                            <li>Turniere und Wettbewerbe auf regionaler und nationaler Ebene</li>
                        </ul>
                        <p>
                            Knüpfe neue Kontakte und Freundschaften mit Gleichgesinnten. 
                            Verbessere deine Snooker-Fähigkeiten durch professionelle Anleitung.
                            Erlebe die Faszination des Snookersports in einem engagierten Club.
                        </p>
                        <p>
                            <sup>*</sup> Freier Spielbetrieb eingeschränkt während Ligaspielen und Turnieren
                        </p>
                    </div>

                </div>
<!--

Wie kannst du Mitglied werden?
Besuche uns während unserer Öffnungszeiten:
Snookerclub 147 München e. V.
[Adresse des Clubs]

Oder kontaktiere uns unter:
Telefon: [Deine Telefonnummer]
E-Mail: [Deine E-Mail-Adresse]
Website: [Webadresse des Clubs]

Öffnungszeiten:
Montag bis Freitag: [Öffnungszeiten]
Samstag und Sonntag: [Öffnungszeiten]

Komm vorbei und werde Teil unserer Snookerfamilie!

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="/downloads/mitgliedsantrag.pdf" target="_blank">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Aufnahmeantrag</a></li>
                            <li class="list-group-item"><a href="/downloads/datenschutzerklaerung.pdf" target="_blank">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Datenschutzerklärung</a></li>
                        </ul>
-->
                
                <div class="col-lg-5 mt-4">
                    <h2>Mitmachen</h2>
                    <ul class="list-group list-group-flush list-box">
                        <li class="list-group-item">
                            <h4>Wie fange ich an?</h4>
                            <p><a href="mailto:info@sc147.de">info@sc147.de</a></p>
                        </li>
                        <li class="list-group-item">
                            <h4>Brauche ich ein eigenes Queue?</h4>
                            <p>Wir haben sehr gute Hausqueues für Anfänger und Wiedereinsteiger.</p>
                        </li>
                        <li class="list-group-item">
                            <h4>Muss ich Vereinsmitglied werden?</h4>
                            <p>
                                Wir bieten Schnuppertraining und Spielmöglichkeiten 
                                für Gäste ohne Vereinsmitgliedschaft.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
