Hallo {{ user.firstname }},<br />
unter <a href="https://sc147.de/setpassword/{{ hash }}">https://sc147.de/setpassword/{{ hash }}</a> kannst Du Dein Passwort zurücksetzen.<br>
Nach dem Setzen des Passworts ist der Link nicht mehr gültig.
<br><br>
Mit freundlichen Grüßen<br>
Snookerclub 147 München e.V.<br>
<a href="https://sc147.de">https://sc147.de</a>