{% extends 'base.html.twig' %}

{% block title %}Unser Club{% endblock %}

{% block body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-12 mt-4">
                <h2>Hygienekonzept Snookerclub 147 München e.V. während der Corona Pandemie:</h2>
                <ul class="list-group list-group-flush list-box">
                    <li class="list-group-item">Der Club ist eine Ansteckungsgefahr. Wer ihn betritt, kennt das Risiko
                        und nimmt es für sich in Kauf. Alle Mitglieder geben sich größte Mühe, Risiken zu vermeiden.
                    </li>
                    <li class="list-group-item">Wer Kontakt zu einer infizierten Person hatte oder Covid 19 Symptome
                        zeigt, darf den Club nicht betreten. (14 Tage Ausschlussfrist)
                    </li>
                    <li class="list-group-item">Wer infiziert ist und im Club war, informiert den Vorstand schriftlich (<a
                                href="mailto:info@m-snooker.de">eMail</a>).
                    </li>
                    <li class="list-group-item">Die Anwesenheit im Club ist nur zulässig nach Anmeldung über die
                        Webseite und nur mit vollständigem Eintrag in die Anwesenheitsliste. Die Liste wird im Club
                        ausgelegt, vom Vorstand aufbewahrt und nach vier Wochen vernichtet. Bitte unterschreibt die
                        ausgelegte Einverständniserklärung zur Absicherung des Vorstands.
                    </li>
                    <li class="list-group-item"> Bis 15.7.2020 sollen die Trainings- / Spielkontakte auf höchstens drei
                        Personen begrenzt bleiben – kein Wechsel der Spielpartner oder Trainingsteams.
                    </li>
                    <li class="list-group-item">Maximal zwei Personen pro Tisch und eine Person, die wartet.</li>
                    <li class="list-group-item">Beim Aufenthalt in den Clubräumen muss eine Mund- Nasenbedeckung
                        getragen werden, beim Eintreten desinfizieren alle ihre Hände. Am Tisch besteht keine
                        Maskenpflicht, aber die Empfehlung, sie zu tragen.
                    </li>
                    <li class="list-group-item">Desinfektionsplan: Jeder desinfiziert vor Spielbeginn zu seiner
                        Sicherheit und nach Spielende zum Schutz der anderen Mitglieder mit Einmalhandtuch und
                        Desinfektionsmittel die Oberflächen, die er vermutlich berühren wird bzw. die Gegenstände, die
                        er benutzt hat. (Bälle, Banden, Hilfsqueues, etc.) Außerdem desinfizieren / waschen wir unsere
                        Hände in regelmäßigen Abständen (z.B. nach einem Frame).
                    </li>
                    <li class="list-group-item">Wir spielen möglichst bei offenem Fenster und nutzen die Tischheizung.
                        Zu jeder vollen Stunde wird der Raum 5 Minuten komplett gelüftet. Wir schalten den
                        Luftentfeuchter ein, wenn der letzte den Club verlässt (Wasserbehälter ausleeren).
                    </li>
                    <li class="list-group-item">Wer als letzter am Tag den Club verlässt, desinfiziert die Türklinken,
                        Fenstergriffe und Wasserhähne.
                    </li>
                </ul>

                <div class="featured-green mt-4">
                    <p class="strong">
                        no shake-hands, no bodycontact, keep 1,5 m distance<br/>
                        don’t pot colours, nobody else must touch them to respot
                        <br/><br/>
                        Die Nutzung der Clubräume erfolgt auf eigene Gefahr.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}