{% extends 'base.html.twig' %}

{% block title %}Unser Club{% endblock %}

{% block body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-12 mt-4">
                <h2>Snooker im SC147 während Corona</h2>

                <h3>Infektionsrisiken vermeiden</h3>
                <ul class="list-group list-group-flush list-box">
                    <li class="list-group-item">Mund-/Nasenbedeckung tragen - am Tisch keine Maskenpflicht</li>
                    <li class="list-group-item">Hände desinfizieren beim Betreten des Clubs</li>
                    <li class="list-group-item">Bälle, Hilfsqueues, Banden mit Einmalhandtuch und Desinfektionsmittel vor Spielbeginn säubern</li>
                    <li class="list-group-item">Durchlüften mindestens 1x pro Stunde und während der Tischreinigung nach Spielende</li>
                </ul>

                <p>&nbsp;</p>
                <p>Der Vorstand informiert die Mitglieder, falls aufgrund des Infektionsgeschehens ein COVID-19 Test für des Betreten der Clubräume erforderlich ist.</p>

                <h3>Kontakte beschränken und Kontaktdaten erfassen</h3>
                <ul class="list-group list-group-flush list-box">
                    <li class="list-group-item">Besuch des Clubs über die Webseite anmelden</li>
                    <li class="list-group-item">Maximal 2 Spieler pro Tisch</li>
                    <li class="list-group-item">Beim Betreten des Clubs die Hände desinfizieren</li>
                    <li class="list-group-item">Anwesenheitsliste im Club ausfüllen</li>
                    <li class="list-group-item">Ggf. au&szlig;erhalb der Clubräume warten bis noch anwesende Spieler die Räume verlassen haben</li>
                </ul>

                <p>&nbsp;</p>
                <p>Der Club steht während der Pandemie außer bei Ligaspielen für Gastspieler nicht zur Verfügung.</p> 
                <p>Grundsätzlich gelten immer die aktuellen Kontaktbeschränkungen der Kreisverwaltungsbehörde.</p>

                <div class="featured-green mt-4">
                    <p class="strong">
                        Bleibt gesund!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}